Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

refactor(ci): unify PR and release build flows using build-wheel action
  .github/workflows/pr-checks.yml
Due: none

build(deps): bump GitHub Actions versions
  .github/actions/build-and-test/action.yml
  .github/actions/build-wheel/action.yml
  .github/actions/setup-auroraview/action.yml
  .github/workflows/build-cli.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
Due: none

chore: remove unused Qt native include config
  pyproject.toml
Due: none

fix(ci): align artifact names between build-wheels and release workflows
  .github/actions/build-wheel/action.yml
  .github/workflows/build-wheels.yml
Due: none

docs: update Python version range to include 3.13
  README.md
  README_zh.md
Due: none

fix: add python-bindings feature to all maturin-args in CI workflows
  .github/actions/build-wheel/action.yml
  .github/workflows/build-wheels.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

fix: add UTF-8 encoding declarations for Python 3.7 compatibility
  python/auroraview/__init__.py
  python/auroraview/core/commands.py
  python/auroraview/core/state.py
  python/auroraview/core/webview.py
  python/auroraview/integration/bridge.py
  python/auroraview/integration/framework.py
  python/auroraview/integration/qt/_core.py
  python/auroraview/utils/timer_backends.py
Due: python, Python Core

test: add source encoding validation tests for Python 3.7 compatibility
  tests/python/unit/test_source_encoding.py
Due: none

ci: add Python 3.7 unit tests to PR checks
  .github/workflows/pr-checks.yml
Due: none

feat: enhance test coverage and IPC benchmarks
  Cargo.lock
  benches/ipc_bench.rs
  examples/dcc_integration_example.py
  examples/dynamic_binding.py
  examples/local_assets_example.py
  examples/test_api_binding.py
  examples/window_events_demo.py
  python/auroraview/integration/framework.py
  tests/python/unit/test_commands.py
  tests/python/unit/test_event_emitter.py
  tests/python/unit/test_framework.py
  uv.lock
Due: python

fix: remove useless format! macro in benchmark
  benches/ipc_bench.rs
Due: none

style: fix rustfmt formatting in benchmark
  benches/ipc_bench.rs
Due: none

fix: use native load_url for splash screen navigation
  Cargo.lock
  README.md
  src/ipc/message_queue.rs
  src/webview/backend/mod.rs
  src/webview/message_processor.rs
  src/webview/standalone.rs
  tests/rust/ipc_message_queue_integration_tests.rs
  tests/rust/standalone_integration_tests.rs
Due: rust, Rust Core

style: fix cargo fmt formatting
  tests/rust/ipc_message_queue_integration_tests.rs
Due: none

fix: resolve get_hwnd returning None and add URL auto-normalization
  .gitignore
  README_zh.md
  crates/auroraview-core/src/service_discovery/http_discovery.rs
  examples/dcc_integration_example.py
  examples/test_api_binding.py
  examples/window_events_demo.py
  python/auroraview/__init__.py
  python/auroraview/core/webview.py
  python/auroraview/integration/bridge.py
  python/auroraview/testing/__init__.py
  src/bindings/service_discovery.rs
  src/ipc/handler.rs
  src/utils/mod.rs
  src/webview/backend/mod.rs
  src/webview/core/main.rs
  src/webview/core/mod.rs
  src/webview/message_pump.rs
  src/webview/standalone.rs
  src/webview/webview_inner.rs
  uv.lock
Due: python, rust, Python Core, Rust Core

fix: improve timer test stability on macOS CI
  tests/python/integration/test_timer_integration.py
Due: none

feat: implement desktop events with plugin system integration
  README.md
  README_zh.md
  crates/auroraview-core/src/assets.rs
  crates/auroraview-core/src/assets/js/bom/file_drop.js
  crates/auroraview-core/src/assets/js/core/event_bridge.js
  crates/auroraview-core/src/assets/js/core/event_utils.js
  examples/README_file_protocol.md
  examples/custom_protocol_example.py
  examples/custom_timer_backend_example.py
  examples/desktop_events_demo.py
  examples/qt_compatibility_test.py
  examples/test_api_binding.py
  llms.txt
  python/auroraview/core/event_emitter.py
  python/auroraview/core/events.py
  src/bindings/standalone_runner.rs
  src/webview/config.rs
  src/webview/js_assets.rs
  src/webview/standalone.rs
  tests/python/unit/test_event_cancellation.py
  tests/python/unit/test_file_drop_events.py
Due: python, rust, Rust Core

style: add cargo fmt to pre-commit and fix formatting
  .pre-commit-config.yaml
  src/bindings/standalone_runner.rs
  src/webview/config.rs
Due: rust, Rust Core

fix: emit() returns False when no handlers registered
  python/auroraview/core/event_emitter.py
Due: python

feat: implement IPC emit and async callback mechanisms
  src/ipc/async_handler.rs
  src/ipc/handler.rs
Due: rust, Rust Core

fix: emit returns False when no handlers registered
  python/auroraview/core/event_emitter.py
  src/ipc/async_handler.rs
Due: python, rust, Rust Core

ci: reduce duplicate CI runs on main branch push
  .github/workflows/build-cli.yml
  .github/workflows/build-wheels.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Due: none

fix(ci): use correct tag format auroraview-v* for release-please
  .github/workflows/release.yml
Due: none
