Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

ci: update vx action to v0.6.4 with github-token
  .github/actions/setup-auroraview/action.yml
Due: none

feat(mcp): implement Phase 3 DCC support tools
  docs/rfcs/0001-auroraview-mcp-server.md
  docs/rfcs/0001-implementation-tracker.md
  packages/auroraview-mcp/README.md
  packages/auroraview-mcp/README_zh.md
  packages/auroraview-mcp/src/auroraview_mcp/server.py
  packages/auroraview-mcp/src/auroraview_mcp/tools/__init__.py
  packages/auroraview-mcp/src/auroraview_mcp/tools/dcc.py
  packages/auroraview-mcp/tests/test_dcc.py
Due: none

fix: add remote_debugging_port to Python WebView and fix CI vx action
  .github/workflows/release.yml
  gallery/main.py
  python/auroraview/core/webview.py
Due: python

ci: use vx just commands for consistent builds
  .github/workflows/docs.yml
  .github/workflows/mcp-ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  justfile
Due: none

ci: simplify vx usage - remove manual just installation
  .github/workflows/docs.yml
  .github/workflows/mcp-ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  justfile
Due: none

fix: use vx pytest instead of vx uv run pytest
  justfile
Due: none

fix: exclude qt module from pdoc generation in CI
  justfile
Due: none

fix: specify modules explicitly for pdoc to exclude qt
  justfile
Due: none

fix: exclude qt module from pdoc generation in CI
  Cargo.lock
Due: none

fix: only include core modules without third-party deps for pdoc
  justfile
Due: none

fix: use 'vx uv run pytest' instead of 'vx pytest'
  justfile
Due: none

fix: separate Python lint from ci-lint, add system deps earlier
  .github/workflows/pr-checks.yml
Due: none

fix: rename unused loop variables to satisfy ruff B007
  tests/test_thread_dispatcher.py
Due: none

feat(ci): add package-isolated CI pipelines
  .github/workflows/pr-checks.yml
  .github/workflows/python-ci.yml
  .github/workflows/rust-crates-ci.yml
  docs/contributing/ci-pipeline-zh.md
  docs/contributing/ci-pipeline.md
  justfile
Due: none

fix(justfile): remove duplicate test-pack recipe
  justfile
Due: none

docs: add project vision and motivation to homepage
  Cargo.lock
  docs/index.md
  docs/zh/index.md
Due: none

refactor: move _core.pyd to auroraview/core/ subdirectory
  pyproject.toml
  python/auroraview/__init__.py
  python/auroraview/__main__.py
  python/auroraview/core/__init__.py
  python/auroraview/core/factory.py
  python/auroraview/core/ipc_channel.py
  python/auroraview/core/webview.py
  python/auroraview/mcp/__init__.py
  python/auroraview/testing/auroratest/browser.py
Due: python, Python Core

feat(thread-safety): add DCC thread-safe utilities and WebView dcc_mode support
  docs/guide/thread-dispatcher.md
  docs/rfcs/0002-dcc-thread-safety.md
  docs/zh/guide/thread-dispatcher.md
  python/auroraview/core/mixins/events.py
  python/auroraview/core/webview.py
  python/auroraview/utils/__init__.py
  python/auroraview/utils/thread_dispatcher.py
Due: python

docs(dcc): add thread safety sections and Substance Painter integration
  Cargo.lock
  docs/dcc/3dsmax.md
  docs/dcc/blender.md
  docs/dcc/houdini.md
  docs/dcc/index.md
  docs/dcc/maya.md
  docs/dcc/substance-painter.md
  docs/guide/examples.md
  docs/package-lock.json
  docs/zh/dcc/3dsmax.md
  docs/zh/dcc/blender.md
  docs/zh/dcc/houdini.md
  docs/zh/dcc/index.md
  docs/zh/dcc/maya.md
  docs/zh/dcc/substance-painter.md
  docs/zh/guide/examples.md
  python/auroraview/core/mixins/events.py
  python/auroraview/core/webview.py
  python/auroraview/utils/thread_dispatcher.py
  uv.lock
Due: python

feat(gallery): dependency installer with white theme
  gallery/backend/dependency_api.py
  gallery/backend/dependency_installer.py
  gallery/src/App.tsx
  gallery/src/components/AnimatedSidebar.tsx
  gallery/src/components/DependencyModal.tsx
  gallery/src/hooks/useAuroraView.ts
  gallery/src/index.css
  tests/python/unit/test_dependency_api.py
Due: none

Fix docs build artifacts and py37 import path
  .gitignore
  crates/auroraview-core/src/assets/js/core/event_bridge.js
  docs/dcc/3dsmax.md
  docs/dcc/blender.md
  docs/dcc/houdini.md
  docs/dcc/maya.md
  docs/dcc/substance-painter.md
  docs/guide/examples.md
  docs/guide/qt-integration.md
  docs/rfcs/0002-dcc-thread-safety.md
  docs/rfcs/0003-vx-packed-dependency-bootstrap.md
  docs/zh/dcc/3dsmax.md
  docs/zh/dcc/blender.md
  docs/zh/dcc/houdini.md
  docs/zh/dcc/maya.md
  docs/zh/dcc/substance-painter.md
  docs/zh/guide/examples.md
  docs/zh/guide/qt-integration.md
  examples/ai_chat_demo.py
  gallery/main.py
  gallery/package-lock.json
  gallery/src/components/AnimatedHeader.tsx
  gallery/src/components/CategorySection.tsx
  gallery/src/components/Footer.tsx
  gallery/src/components/QuickLinks.tsx
  gallery/src/components/SampleCard.tsx
  justfile
  packages/auroraview-mcp/uv.lock
  packages/auroraview-sdk/package-lock.json
  python/auroraview/core/webview.py
  python/auroraview/integration/qt/_core.py
  python/auroraview/utils/__init__.py
  python/auroraview/utils/automation.py
  python/auroraview/utils/thread_dispatcher.py
  tests/conftest.py
Due: python

Fix Windows venv creation in mcp-ci
  .github/workflows/mcp-ci.yml
Due: none

Fix docs-build to install pdoc in system env
  justfile
Due: none
