Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

fix: resolve CI failures
  docs/zh/guide/installation.md
  docs/zh/guide/multi-tab-browser.md
  docs/zh/guide/system-tray.md
  docs/zh/guide/webview-basics.md
  tests/python/unit/test_multi_tab_browser.py
Due: none

fix: improve Qt test cleanup to avoid access violations in CI
  tests/python/integration/test_qt_backend.py
Due: none

fix: resolve lint errors in test and feature modules
  justfile
  python/auroraview/browser/browser.py
  python/auroraview/core/mixins/events.py
  python/auroraview/features/__init__.py
  python/auroraview/features/settings.py
  tests/python/integration/conftest.py
  tests/python/integration/test_browser_integration.py
  tests/python/integration/test_gallery_deep_inspection.py
  tests/python/integration/test_gallery_inspector.py
  tests/python/integration/test_inspector_cdp.py
  tests/python/integration/test_multi_window_integration.py
  tests/python/unit/test_tab_container.py
  tests/python/unit/test_window_manager.py
  tests/test_gallery_cdp.py
Due: python

docs/feat: add multi-window and browser documentation, examples and gallery features
  docs/api/browser.md
  docs/api/ready-events.md
  docs/api/tab-container.md
  docs/api/window-manager.md
  docs/guide/multi-tab-browser.md
  docs/rfcs/0004-implementation-tracker.md
  docs/rfcs/0004-multi-window-management.md
  docs/rfcs/0005-dcc-plugin-architecture.md
  docs/rfcs/0006-auroraview-browser-crate.md
  docs/rfcs/0007-webview-browser-unified-architecture.md
  docs/rfcs/0008-auroraview-testing-redesign.md
  examples/agent_browser.py
  examples/agent_browser/__init__.py
  examples/agent_browser/__main__.py
  examples/inspector_demo.py
  examples/multi_tab_browser_demo.py
  examples/qt_browser.py
  examples/tabbed_webview_demo.py
  examples/test_cancel_fix.py
  examples/test_dependency_install.py
  examples/test_enhanced_progress.py
  examples/window_manager_demo.py
  examples/wry_features_demo.py
  gallery/auroraview.pack.toml
  gallery/backend/__init__.py
  gallery/backend/config.py
  gallery/backend/features_api.py
  gallery/main.py
  gallery/package-lock.json
  gallery/src/components/BookmarksBar.tsx
  gallery/src/components/BrowserNavBar.tsx
  gallery/src/components/DownloadBox.tsx
  gallery/src/components/DownloadsPanel.tsx
  gallery/src/components/HistoryPanel.tsx
  gallery/src/components/SampleCard.tsx
  gallery/src/components/TagFilter.tsx
  gallery/src/data/samples.ts
  gallery/src/hooks/useAuroraView.ts
  gallery/src/hooks/useFeatures.ts
Due: none

fix: add cross-platform support for tab_manager event loop
  src/webview/tab_manager.rs
Due: rust, Rust Core

fix: add UTF-8 encoding declaration and missing _window_id attribute
  python/auroraview/testing/inspector.py
  tests/python/unit/test_webview_close.py
Due: python

fix: resolve dead links and clippy warnings
  crates/auroraview-devtools/src/console.rs
  crates/auroraview-downloads/src/manager.rs
  crates/auroraview-downloads/src/queue.rs
  crates/auroraview-tabs/src/manager.rs
  docs/api/ready-events.md
  docs/api/window-manager.md
Due: none

fix: cross-platform compilation for auroraview-browser
  crates/auroraview-browser/src/browser.rs
  crates/auroraview-browser/src/extensions/plugins_bridge.rs
  crates/auroraview-browser/src/tab/manager.rs
Due: none

chore: update pre-commit hook to use vx for tool management
  .githooks/pre-commit
Due: none

style: fix import ordering for cargo fmt
  crates/auroraview-browser/src/browser.rs
  src/webview/tab_manager.rs
Due: rust, Rust Core

fix: resolve unused variables and PyO3 API updates
  Cargo.lock
  crates/auroraview-browser/src/browser.rs
  crates/auroraview-browser/src/tab/manager.rs
  crates/auroraview-testing/src/python.rs
Due: none

fix: make header_height cross-platform and fix unused code warnings
  Cargo.lock
  crates/auroraview-browser/src/browser.rs
  crates/auroraview-downloads/src/item.rs
  crates/auroraview-downloads/src/manager.rs
  crates/auroraview-settings/src/value.rs
  crates/auroraview-tabs/Cargo.toml
  crates/auroraview-tabs/src/session.rs
  crates/auroraview-testing/src/a11y/tree.rs
  crates/auroraview-testing/src/inspector.rs
Due: none

fix: update PyO3 0.27 FromPyObject API and fix Bool conversion
  crates/auroraview-testing/src/python.rs
Due: none

fix: use to_owned() for Borrowed to Bound conversion
  crates/auroraview-testing/src/python.rs
Due: none

fix: add cfg attributes for Windows-only variables and fix clippy lint
  src/webview/desktop.rs
  src/webview/tab_manager.rs
Due: rust, Rust Core

fix: mark header_height as Windows-only in create_tab
  src/webview/tab_manager.rs
Due: rust, Rust Core

Path conditions:
  python: any of: python/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  rust: any of: src/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Python Core: any of: python/auroraview/*.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Rust Core: any of: src/**/*.rs, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Qt Integration: any of: python/auroraview/qt_integration.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
