Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

test(python): pin _WebViewInitState.from_init_kwargs state machine
  tests/python/unit/test_webview_init_state.py
Due: none

docs: sync PR draft and CHANGELOG with current branch scope
  .github/PR_DRAFT_feat-webview-improve.md
  CHANGELOG.md
Due: none

fix(python): delegate EventTimer readiness checks to WebView.is_ready
  python/auroraview/utils/event_timer.py
Due: python

fix(ci): handle PR comment 403 from fork PRs and missing issues permission
  .github/workflows/mutation-testing.yml
  .github/workflows/pr-checks.yml
Due: none

fix(windows): prevent host UI freeze and STA deadlock during WebView2 embedding
  crates/auroraview-core/src/builder/window_style.rs
  src/platform/windows/webview2.rs
Due: rust, Rust Core

fix(ci): resolve lint, encoding and test naming issues
  crates/auroraview-core/src/builder/window_style.rs
  examples/inspector_demo.py
  python/auroraview/utils/event_timer.py
  tests/rust/window_utils_integration_tests.rs
Due: python

fix(qt): keep EventTimer ticking when only the sync core is ready
  python/auroraview/utils/event_timer.py
Due: python

fix: correct regressions from 2c39318 and 24e135b
  python/auroraview/utils/event_timer.py
  src/platform/windows/webview2.rs
Due: python, rust, Rust Core

fix(windows): unfreeze WebView2 cold-start STA pump
  Cargo.toml
  crates/auroraview-core/src/builder/window_style.rs
  src/platform/windows/webview2.rs
Due: rust, Rust Core

docs: record webview2 cold-start fixes in CHANGELOG and add PR draft
  .github/PR_DRAFT_feat-webview-improve.md
  CHANGELOG.md
Due: none

fix(python): guard process_events against missing core in packed mode
  python/auroraview/core/webview.py
Due: python

chore: clean up changelog and minor code style fixes
  CHANGELOG.md
  examples/child_aware_demo.py
  python/auroraview/utils/event_timer.py
Due: python

fix: skip docs preview comments for fork PRs
  .github/workflows/docs.yml
Due: none

fix: repair ci wheel and release publishing
  .github/actions/build-wheel/action.yml
  .github/workflows/build-gallery.yml
  .github/workflows/release.yml
  Cargo.lock
  README.md
  docs/contributing/ci-pipeline-zh.md
  docs/contributing/ci-pipeline.md
  justfile
  pyproject.toml
  uv.lock
Due: none

fix: correct codecov status config
  .codecov.yml
Due: none

fix: gate unsafe usage
  .github/workflows/pr-checks.yml
  justfile
  scripts/audit_unsafe.py
  scripts/unsafe_allowlist.txt
Due: none

fix: keep codecov checks informational
  .codecov.yml
Due: none

fix(ci): increase CDP E2E timeouts and improve npm token guidance
  .github/workflows/build-gallery.yml
  .github/workflows/release.yml
  tests/test_gallery_cdp.py
Due: none

fix(ci): migrate npm publish from token-based to OIDC trusted publishing
  .github/workflows/release.yml
Due: none

fix: ensure npm trusted publishing uses supported CLI
  .github/workflows/release.yml
  packages/auroraview-sdk/package.json
Due: none

build(workspace): centralize wry/tao via workspace.dependencies
  Cargo.toml
  crates/auroraview-browser/Cargo.toml
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-core/Cargo.toml
  crates/auroraview-desktop/Cargo.toml
  docs/rfcs/0013-default-file-drop-improve_zh.md
  docs/rfcs/0014-workspace-dep-wry-tao_zh.md
Due: none

Path conditions:
  python: any of: python/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  rust: any of: src/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Python Core: any of: python/auroraview/*.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Rust Core: any of: src/**/*.rs, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Qt Integration: any of: python/auroraview/qt_integration.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
