Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

ci: add path-based filtering to PR checks for faster CI
  .github/workflows/pr-checks.yml
Due: none

ci(pr-checks): optimize CI by reusing build artifacts
  .github/workflows/pr-checks.yml
Due: none

feat(cli): improve CLI experience and update documentation
  README.md
  README_zh.md
  docs/guide/cli.md
  docs/zh/guide/cli.md
  python/auroraview/__main__.py
  src/bindings/desktop_runner.rs
  src/utils/mod.rs
Due: python, rust, Python Core, Rust Core

refactor(plugins): modularize plugin system into separate crates
  Cargo.lock
  Cargo.toml
  crates/auroraview-plugins/Cargo.toml
  crates/auroraview-plugins/core/Cargo.toml
  crates/auroraview-plugins/core/src/error.rs
  crates/auroraview-plugins/core/src/handler.rs
  crates/auroraview-plugins/core/src/lib.rs
  crates/auroraview-plugins/core/src/request.rs
  crates/auroraview-plugins/core/src/router.rs
  crates/auroraview-plugins/core/src/scope.rs
  crates/auroraview-plugins/core/src/types.rs
  crates/auroraview-plugins/fs/Cargo.toml
  crates/auroraview-plugins/fs/src/lib.rs
  crates/auroraview-plugins/fs/src/operations.rs
  crates/auroraview-plugins/fs/src/types.rs
  crates/auroraview-plugins/src/assets.rs
  crates/auroraview-plugins/src/clipboard.rs
  crates/auroraview-plugins/src/dialog.rs
  crates/auroraview-plugins/src/lib.rs
  crates/auroraview-plugins/src/process.rs
  crates/auroraview-plugins/src/shell.rs
  crates/auroraview-plugins/tests/scope_tests.rs
  src/webview/core/plugins.rs
  src/webview/desktop.rs
Due: rust, Rust Core

test: fix fs_plugin_tests to use create_router_with_scope
  crates/auroraview-plugins/tests/fs_plugin_tests.rs
Due: none

test: fix router_tests to use create_router
  crates/auroraview-plugins/tests/router_tests.rs
Due: none

feat(child-window): add unified child window system for examples
  docs/.vitepress/config.ts
  docs/guide/child-windows.md
  docs/guide/communication.md
  docs/zh/api/index.md
  docs/zh/guide/child-windows.md
  docs/zh/guide/communication.md
  examples/child_aware_demo.py
  examples/child_window_demo.py
  gallery/backend/__init__.py
  gallery/backend/child_api.py
  gallery/backend/child_manager.py
  gallery/backend/config.py
  gallery/backend/samples.py
  gallery/main.py
  python/auroraview/__init__.py
  python/auroraview/child.py
Due: python, Python Core

fix(docs): resolve dead links and add child module tests
  docs/package.json
  docs/zh/api/index.md
  tests/test_child.py
Due: none

fix: remove unused imports and variables in test_child.py
  tests/test_child.py
Due: none

fix: remove unused variable in browser-extension client
  packages/auroraview-sdk/src/browser-extension/client.ts
Due: none

fix: rename plugin_error to from_plugin to avoid clippy self_named_constructors
  crates/auroraview-plugins/core/src/error.rs
  crates/auroraview-plugins/src/browser_bridge.rs
  crates/auroraview-plugins/src/extensions.rs
Due: none

fix: resolve clippy warnings in auroraview-extensions
  crates/auroraview-extensions/src/apis/action.rs
  crates/auroraview-extensions/src/apis/bookmarks.rs
  crates/auroraview-extensions/src/apis/context_menus.rs
  crates/auroraview-extensions/src/apis/runtime.rs
  crates/auroraview-extensions/src/apis/scripting.rs
  crates/auroraview-extensions/src/apis/sessions.rs
  crates/auroraview-extensions/src/apis/side_panel.rs
  crates/auroraview-extensions/src/apis/tabs.rs
  crates/auroraview-extensions/src/injection.rs
  crates/auroraview-extensions/src/service_worker.rs
  crates/auroraview-extensions/src/storage.rs
  crates/auroraview-extensions/src/view_manager.rs
Due: none

fix: use allow(unused_variables) instead of underscore prefix for platform-specific vars
  crates/auroraview-extensions/src/view_manager.rs
Due: none

fix: make ClientInfo public and allow dead_code for emit_event
  crates/auroraview-plugins/src/browser_bridge.rs
Due: none

fix: resolve test failure and clippy warnings
  crates/auroraview-cli/src/packed/utils.rs
  crates/auroraview-cli/src/packed/webview.rs
  crates/auroraview-extensions/src/manifest.rs
  src/webview/devtools.rs
  src/webview/event_loop.rs
Due: rust, Rust Core

fix: restore Windows-only imports and suppress hwnd warning
  crates/auroraview-cli/src/packed/webview.rs
  crates/auroraview-extensions/src/view_manager.rs
Due: none

test: add unit tests for action, context_menus, and polyfill APIs
  crates/auroraview-extensions/tests/test_action_api.rs
  crates/auroraview-extensions/tests/test_context_menus_api.rs
  crates/auroraview-extensions/tests/test_polyfill.rs
Due: none

fix(ci): ensure webkit2gtk runtime libraries are available on Linux
  .github/workflows/build-gallery.yml
Due: none

fix: code formatting and Linux webkit2gtk runtime library
  .github/workflows/pr-checks.yml
  crates/auroraview-cli/src/packed/webview.rs
  crates/auroraview-extensions/tests/test_polyfill.rs
Due: none

fix(ci): install Linux runtime libs unconditionally in gallery-pack
  .github/workflows/pr-checks.yml
Due: none
