Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

test(dom): add comprehensive tests for all DomBatch operations
  src/dom/ops.rs
Due: rust, Rust Core

fix: Python 3.7 compatibility and format test file
  python/auroraview/automation.py
  tests/test_cli_main.py
Due: python, Python Core

style: fix ruff lint issues
  python/auroraview/__init__.py
  python/auroraview/automation.py
  python/auroraview/dom.py
  tests/test_dom.py
Due: python, Python Core

docs: deep comparison between AuroraView and PyWebView
  docs/COMPARISON_WITH_PYWEBVIEW.md
Due: none

style: fix ruff lint issues
  python/auroraview/automation.py
  python/auroraview/dom.py
  tests/test_dom.py
Due: python, Python Core

docs: update comparison with comprehensive DOM API section
  docs/COMPARISON_WITH_PYWEBVIEW.md
Due: none

fix(tests): update tests for DOM API migration
  src/dom/ops.rs
  tests/test_testing_framework.py
  tests/test_testing_module.py
Due: rust, Rust Core

feat(testing): add DOM-based testing framework
  python/auroraview/testing/__init__.py
  python/auroraview/testing/dom_assertions.py
  python/auroraview/testing/headless.py
  python/auroraview/testing/webview_bot.py
Due: python

ci: ignore mod.rs files in coverage reports
  .codecov.yml
Due: none

feat: add apply_qt6_dialog_optimizations function
  python/auroraview/integration/qt/_compat.py
Due: python

feat(signals): add Qt-inspired signal-slot event system
  crates/auroraview-core/src/signals.rs
  python/auroraview/core/signals.py
  tests/python/unit/test_signals.py
Due: python

perf(qt): optimize window style operations and fix initialization timing
  python/auroraview/integration/qt/_compat.py
  python/auroraview/integration/qt/_core.py
  src/webview/core/multiwindow.rs
Due: python, rust, Rust Core

perf(warmup): auto-start WebView2 warmup on module import
  python/auroraview/__init__.py
Due: python, Python Core

perf(logging): add conditional verbose logging for DCC environments
  python/auroraview/integration/qt/_compat.py
  python/auroraview/integration/qt/_core.py
  python/auroraview/integration/qt/signals.py
  python/auroraview/utils/__init__.py
  python/auroraview/utils/logging.py
Due: python

feat(pack): complete MVP for auroraview-pack and auroraview-cli crates
  Cargo.lock
  crates/auroraview-cli/src/main.rs
  crates/auroraview-cli/src/protocol_handlers.rs
  crates/auroraview-cli/tests/cli_tests.rs
  crates/auroraview-core/src/plugins/scope.rs
  crates/auroraview-pack/Cargo.toml
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/generator.rs
  crates/auroraview-pack/src/lib.rs
  crates/auroraview-pack/src/mod.rs
  crates/auroraview-pack/src/templates/cargo_toml.txt
  crates/auroraview-pack/src/templates/cargo_toml_pyembed.txt
  crates/auroraview-pack/src/templates/main_frontend.rs.txt
  crates/auroraview-pack/src/templates/main_fullstack.rs.txt
  crates/auroraview-pack/src/templates/main_url.rs.txt
  crates/auroraview-pack/tests/generator_tests.rs
Due: none

fix(ci): correct rust-toolchain action name
  .github/workflows/build-cli.yml
Due: none

fix: handle poisoned mutex gracefully to prevent panic on close
  docs/RFC_AURORATEST.md
  python/auroraview/integration/qt/_compat.py
  python/auroraview/integration/qt/_core.py
  python/auroraview/integration/qt/platforms/base.py
  python/auroraview/integration/qt/platforms/win.py
  python/auroraview/integration/qt/qt_config_factory.py
  python/auroraview/testing/__init__.py
  python/auroraview/testing/auroratest/__init__.py
  python/auroraview/testing/auroratest/browser.py
  python/auroraview/testing/auroratest/expect.py
  python/auroraview/testing/auroratest/fixtures.py
  python/auroraview/testing/auroratest/locator.py
  python/auroraview/testing/auroratest/network.py
  python/auroraview/testing/auroratest/page.py
  python/auroraview/testing/playwright/__init__.py
  python/auroraview/testing/playwright/browser.py
  src/bindings/timer.rs
  src/platform/windows/warmup.rs
  src/webview/backend/native.rs
  src/webview/protocol.rs
  src/webview/timer.rs
  tests/conftest.py
  tests/python/integration/__init__.py
  tests/python/integration/conftest.py
  tests/python/integration/run_tests.py
  tests/python/integration/test_auroratest_api.py
  tests/python/integration/test_auroratest_dom.py
  tests/python/integration/test_auroratest_events.py
  tests/python/integration/test_auroratest_webview.py
Due: python, rust, Rust Core

feat(testing): add PlaywrightBrowser for Playwright-based UI testing
  README.md
  README_zh.md
  crates/auroraview-core/src/assets.rs
  crates/auroraview-core/src/assets/js/features/network_intercept.js
  crates/auroraview-core/src/assets/js/features/screenshot.js
  crates/auroraview-core/src/assets/js/features/test_callback.js
  pyproject.toml
  python/auroraview/core/mixins/content.py
  python/auroraview/testing/auroratest/__init__.py
  python/auroraview/testing/auroratest/browser.py
  python/auroraview/testing/auroratest/locator.py
  python/auroraview/testing/auroratest/page.py
  python/auroraview/testing/auroratest/playwright_browser.py
  src/bindings/standalone_runner.rs
  src/ipc/message_queue.rs
  src/webview/backend/native.rs
  src/webview/config.rs
  src/webview/core/main.rs
  src/webview/event_loop.rs
  src/webview/js_assets.rs
  src/webview/message_processor.rs
  src/webview/proxy.rs
  src/webview/standalone.rs
  src/webview/webview_inner.rs
  tests/conftest.py
  tests/pytest.ini
  tests/python/integration/test_auroratest_api.py
  tests/python/integration/test_auroratest_dom.py
  tests/python/integration/test_auroratest_events.py
  tests/python/integration/test_auroratest_webview.py
  tests/python/integration/test_bind_call.py
  tests/python/integration/test_event_timer.py
  tests/python/integration/test_playwright_browser.py
  tests/python/integration/test_qt_event_processor.py
  tests/python/integration/test_timer_integration.py
  uv.lock
Due: python, rust, Rust Core

fix: resolve cross-platform compilation errors for Linux CI
  src/ipc/backend.rs
  src/webview/backend/native.rs
Due: rust, Rust Core

fix(ci): correct Rust integration test names in CI configuration
  .github/actions/build-and-test/action.yml
  .github/workflows/ci.yml
Due: none

fix: resolve unit test collection errors on Linux CI
  tests/python/integration/test_context_menu.py
  tests/python/unit/integration/qt/test_platform_base.py
  tests/python/unit/integration/qt/test_platform_init.py
  tests/python/unit/integration/qt/test_pool.py
Due: none

docs: add JS-Python communication guide and improve coverage config
  .codecov.yml
  README.md
  README_zh.md
  justfile
Due: none

test: skip Qt integration tests when qtpy is not installed
  tests/python/unit/integration/qt/test_platform_base.py
  tests/python/unit/integration/qt/test_platform_init.py
  tests/python/unit/integration/qt/test_platform_win.py
  tests/python/unit/integration/qt/test_pool.py
Due: none

fix: resolve clippy warnings and CI ruff installation
  .githooks/pre-commit
  .github/workflows/pr-checks.yml
  crates/auroraview-pack/src/lib.rs
  src/webview/core/main.rs
Due: rust, Rust Core

fix: unused variable in shell plugin test
  crates/auroraview-plugins/src/shell.rs
Due: none

fix: unused variable in shell plugin test
  Cargo.lock
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-cli/build.rs
  crates/auroraview-cli/src/main.rs
Due: none

fix: correct function name in cli_utils test
  src/bindings/cli_utils.rs
Due: rust, Rust Core

fix: correct wry API and image crate import in CLI
  Cargo.lock
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-cli/src/main.rs
Due: none

fix: add python-bindings feature to Linux build in CI
  .github/actions/build-and-test/action.yml
Due: none

feat: add cross-platform Python tests (Linux, Windows, macOS)
  .github/workflows/pr-checks.yml
Due: none

fix: replace deprecated macos-13 runner with macos-latest cross-compile
  .github/workflows/build-cli.yml
Due: none

fix: update bom test to match fallback pattern in JS templates
  crates/auroraview-core/src/bom.rs
Due: none

fix: import testing fixtures in conftest and skip UI tests in CI
  .github/actions/build-and-test/action.yml
  tests/python/integration/conftest.py
  tests/python/integration/test_basic_functionality.py
  tests/python/integration/test_dom.py
  tests/python/integration/test_standalone_runner.py
  tests/python/integration/test_timer_integration.py
  tests/python/integration/test_window_dragging.py
Due: none

feat: add xvfb support for headless UI tests in CI
  .github/actions/build-and-test/action.yml
  tests/python/integration/test_basic_functionality.py
  tests/python/integration/test_window_dragging.py
Due: none

fix: use find_spec instead of import for playwright check
  tests/python/integration/test_js_assets_packaging.py
  tests/python/integration/test_playwright_browser.py
  tests/python/integration/test_standalone_runner.py
Due: none
