Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

feat(rust): expose capture_file_drop as Optional[bool] in PyO3 binding
  src/bindings/runtime_desktop.rs
  src/webview/core/main.rs
Due: rust, Rust Core

fix(bindings): pass capture_file_drop arg in PyDesktopConfig tests
  src/bindings/runtime_desktop.rs
Due: rust, Rust Core

test: add IPC drag-drop sink and capture_file_drop config tests
  src/ipc/handler.rs
  src/webview/config.rs
  tests/python/unit/test_capture_file_drop_tristate.py
Due: rust, Rust Core

refactor: short-circuit DragDropEvent::Over in hot path
  crates/auroraview-core/src/builder/drag_drop.rs
  crates/auroraview-core/src/builder/helpers.rs
Due: none

refactor: introduce skip_drag_drop_capture helper and PackConfig::skeleton
  crates/auroraview-browser/src/browser.rs
  crates/auroraview-browser/src/lib.rs
  crates/auroraview-browser/src/tab/manager.rs
  crates/auroraview-core/Cargo.toml
  crates/auroraview-core/src/builder/helpers.rs
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-pack/src/config.rs
  src/webview/tab_manager.rs
Due: rust, Rust Core

chore(assets): add build.rs fallback for missing frontend/dist
  crates/auroraview-assets/Cargo.toml
  crates/auroraview-assets/build.rs
Due: none

fix(core): prevent port collision in service_discovery CDP test
  crates/auroraview-core/tests/service_discovery_tests.rs
Due: none

refactor: apply rustfmt and ruff formatting
  crates/auroraview-browser/src/tab/manager.rs
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/cli/run.rs
  crates/auroraview-cli/tests/pack_merge_rule_tests.rs
  crates/auroraview-core/src/builder/helpers.rs
  crates/auroraview-core/tests/builder_helpers_tests.rs
  src/bindings/desktop_runner.rs
  src/webview/tab_manager.rs
  tests/python/integration/test_capture_file_drop_passthrough.py
  tests/python/unit/test_capture_file_drop_tristate.py
Due: rust, Rust Core

feat(python): thread capture_file_drop through all WebView entry points
  examples/dcc_integration_example.py
  examples/desktop_app_demo.py
  python/auroraview/api.py
  python/auroraview/core/factory.py
  python/auroraview/core/mixins/factory.py
  python/auroraview/core/webview.py
Due: python, Python Core

fix(cli): use cfg-gated panic instead of debug_assert in resolve_flag_pair
  crates/auroraview-cli/src/cli/mod.rs
Due: none

chore(deps): refresh frontend bun.lock files
  crates/auroraview-assets/frontend/bun.lock
  packages/auroraview-sdk/bun.lock
Due: none

docs(rfc): finalize 0013-0017 file-drop guide
  CHANGELOG.md
  crates/auroraview-assets/frontend/dist/.gitkeep
  docs/.vitepress/config.ts
  docs/rfcs/0013-default-file-drop-improve_zh.md
  docs/rfcs/0015-attach-drag-drop-helper_zh.md
  docs/rfcs/0016-browser-mode-disable-capture-file-drop_zh.md
  docs/rfcs/0017-python-capture-file-drop-tristate_zh.md
  docs/zh/guide/file-drop.md
  justfile
Due: none

docs: update llms.txt, CHANGELOG and add file-drop example
  CHANGELOG.md
  examples/desktop_app_capture_file_drop.py
  llms-full.txt
  llms.txt
Due: none

build(workspace): centralize wry/tao via workspace.dependencies
  Cargo.toml
  crates/auroraview-browser/Cargo.toml
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-core/Cargo.toml
  crates/auroraview-desktop/Cargo.toml
  docs/rfcs/0013-default-file-drop-improve_zh.md
  docs/rfcs/0014-workspace-dep-wry-tao_zh.md
Due: none

feat(python): preserve capture_file_drop tri-state through to Rust binding
  docs/rfcs/0017-python-capture-file-drop-tristate_zh.md
  python/auroraview/__main__.py
  python/auroraview/core/config.py
  python/auroraview/core/factory.py
  python/auroraview/core/mixins/factory.py
  python/auroraview/integration/qt/_core.py
  src/bindings/desktop_runner.rs
Due: python, rust, Python Core, Rust Core

test(python): pin capture_file_drop kwarg on every public entry point
  CHANGELOG.md
  README.md
  README_zh.md
  tests/python/unit/test_capture_file_drop_tristate.py
Due: none

refactor(ipc): tighten PackedDragDropSink encapsulation and warn-once
  crates/auroraview-cli/src/packed/webview/ipc.rs
  crates/auroraview-cli/src/packed/webview/mod.rs
  crates/auroraview-desktop/src/ipc/handler.rs
Due: none

refactor(qt): apply linter formatting and remove unused import
  tests/python/unit/integration/qt/test_embedding.py
  tests/python/unit/integration/qt/test_lifecycle.py
Due: none

test: add unit tests for qt integration lock primitives
  tests/test_locks.py
Due: none

test(qt): add unit tests for Qt integration mixins and improve test infra
  pyproject.toml
  python/auroraview/integration/qt/lifecycle.py
  tests/pytest.ini
  tests/python/integration/conftest.py
  tests/python/integration/test_qt_lifecycle.py
  tests/python/unit/integration/qt/__init__.py
  tests/python/unit/integration/qt/test_embedding.py
  tests/python/unit/integration/qt/test_lifecycle.py
  tests/python/unit/integration/qt/test_locks.py
Due: python

refactor(qt): guard Qt imports so pure-Python submodules stay importable
  python/auroraview/integration/qt/__init__.py
  tests/python/unit/integration/qt/test_lifecycle.py
Due: python

fix(qt): prevent DCC deadlock in WebView2 geometry sync
  python/auroraview/integration/qt/_core.py
  python/auroraview/integration/qt/_locks.py
  python/auroraview/integration/qt/embedding.py
  python/auroraview/integration/qt/lifecycle.py
Due: python

fix(qt): replace assert with RuntimeError in lock release and add flag constants
  python/auroraview/integration/qt/_locks.py
  python/auroraview/integration/qt/embedding.py
  python/auroraview/integration/qt/lifecycle.py
  tests/test_locks.py
Due: python

refactor: clean up code style in qt integration modules
  python/auroraview/integration/qt/_locks.py
  python/auroraview/integration/qt/embedding.py
  python/auroraview/integration/qt/lifecycle.py
Due: python

fix(qt): resolve CI failures on Python 3.7 Linux runners
  python/auroraview/integration/qt/__init__.py
  tests/python/unit/test_imports.py
Due: python

chore: sync lockfiles to v0.5.5
  Cargo.lock
  uv.lock
Due: none

fix: isolate Playwright sync startup for CDP tests
  tests/test_gallery_cdp.py
Due: none

build(deps): upgrade rand to 0.10, sha2 to 0.11, miniz_oxide to 0.9
  Cargo.lock
  crates/auroraview-pack/Cargo.toml
  crates/auroraview-pack/src/downloader.rs
  crates/auroraview-protect/Cargo.toml
  crates/auroraview-protect/src/crypto.rs
  crates/auroraview-protect/src/runtime_gen.rs
  crates/auroraview-workspace-hack/Cargo.toml
Due: none

fix(auroraview-protect): migrate test suite to rand 0.10 API
  crates/auroraview-protect/Cargo.toml
  crates/auroraview-protect/tests/crypto_tests.rs
Due: none

refactor(auroraview-pack): reformat checksum method chains
  crates/auroraview-pack/src/downloader.rs
Due: none
