Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

refactor(webview): split desktop.rs into sub-modules (Iteration #143)
  src/webview/desktop.rs
  src/webview/desktop/event_loop.rs
  src/webview/desktop/icon.rs
  src/webview/desktop/mod.rs
  src/webview/desktop/webview_builder.rs
  src/webview/desktop/window_builder.rs
Due: rust, Rust Core

refactor(cli): split webview.rs into submodules (Iteration #144)
  .codebuddy/automations/auroraview-auto-improve/memory.md
  Cargo.lock
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-cli/src/packed/webview/extensions.rs
  crates/auroraview-cli/src/packed/webview/helpers.rs
  crates/auroraview-cli/src/packed/webview/ipc.rs
  crates/auroraview-cli/src/packed/webview/mod.rs
  crates/auroraview-plugins/src/extensions.rs
Due: none

fix(mcp): resolve compilation errors in cdp module
  crates/auroraview-mcp/src/cdp/connect.rs
  crates/auroraview-mcp/src/cdp/dom.rs
  crates/auroraview-mcp/src/cdp/network.rs
  crates/auroraview-mcp/src/cdp/page.rs
  crates/auroraview-mcp/src/cdp/runtime.rs
Due: none

refactor(mcp): split cdp.rs into submodules and add manifest module
  .codebuddy/automations/auroraview-auto-improve/memory.md
  crates/auroraview-mcp/src/cdp.rs
  crates/auroraview-mcp/src/cdp/browser.rs
  crates/auroraview-mcp/src/cdp/emulation.rs
  crates/auroraview-mcp/src/cdp/mod.rs
  crates/auroraview-mcp/src/cdp/security.rs
  crates/auroraview-pack/src/manifest/backend.rs
  crates/auroraview-pack/src/manifest/bundle.rs
  crates/auroraview-pack/src/manifest/mod.rs
  crates/auroraview-pack/src/manifest/package.rs
  crates/auroraview-pack/src/manifest/window.rs
Due: none

fix: prevent gallery backend crash
  crates/auroraview-mcp/src/cdp/runtime.rs
  crates/auroraview-pack/src/lib.rs
  gallery/backend/ai_api.py
  justfile
  python/auroraview/core/mixins/lifecycle.py
Due: python

refactor(mcp): reuse dcc adapter contract
  Cargo.lock
  crates/auroraview-core/templates/api_registration.js
  crates/auroraview-core/tests/cleanup_tests.rs
  crates/auroraview-mcp/Cargo.toml
  crates/auroraview-mcp/README.md
  crates/auroraview-mcp/src/adapter/config.rs
  crates/auroraview-mcp/src/adapter/mod.rs
  crates/auroraview-mcp/src/adapter/runtime.rs
  crates/auroraview-mcp/src/lib.rs
  crates/auroraview-mcp/src/mcp_server/mod.rs
  crates/auroraview-mcp/src/mcp_server/params.rs
  crates/auroraview-mcp/src/python_bindings.rs
  crates/auroraview-mcp/src/runner.rs
  crates/auroraview-mcp/tests/cdp_tests.rs
  crates/auroraview-mcp/tests/integration_test.rs
  crates/auroraview-mcp/tests/mdns_integration_test.rs
Due: none

fix(ci): restore desktop extension build
  src/webview/desktop/event_loop.rs
  src/webview/desktop/icon.rs
  src/webview/desktop/mod.rs
  src/webview/desktop/webview_builder.rs
  src/webview/desktop/window_builder.rs
Due: rust, Rust Core

fix(py37): import Literal from typing_extensions on Python 3.7
  python/auroraview/core/mixins/factory.py
Due: python

style: cargo fmt
  crates/auroraview-cli/src/packed/webview/extensions.rs
  crates/auroraview-cli/src/packed/webview/ipc.rs
  crates/auroraview-cli/src/packed/webview/mod.rs
  crates/auroraview-mcp/src/cdp/mod.rs
Due: none

fix(ci): satisfy ruff and clippy
  crates/auroraview-core/src/builder/click_through.rs
  python/auroraview/__init__.py
  python/auroraview/core/factory.py
  python/auroraview/core/mixins/bridge.py
  python/auroraview/core/mixins/lifecycle.py
  python/auroraview/core/webview.py
  tests/python/integration/test_gallery_contract.py
  tests/python/integration/test_gallery_plugin_api.py
  tests/python/integration/test_gallery_real_e2e.py
  tests/python/integration/test_qt_pool.py
  tests/python/integration/test_standalone_runner.py
Due: python, Python Core

fix(ue): silence unused-import lint on linux clippy
  crates/auroraview-ue/src/lib.rs
Due: none

fix(cli-tests): replace match-with-empty-arm with if let
  crates/auroraview-cli/tests/lib_tests.rs
Due: none

fix(clippy): satisfy needless_borrows and deprecated lints
  benches/registry_bench.rs
  crates/auroraview-dcc/tests/window_manager_tests.rs
Due: none

ci: stabilise qt-tests, benchmark and codecov gates
  .codecov.yml
  .github/workflows/pr-checks.yml
  tests/python/integration/test_qt_backend.py
Due: none

ci(sdk): drop Node 18 from the unit-test matrix
  .github/workflows/sdk-ci.yml
Due: none

fix(windows): prevent host UI freeze and STA deadlock during WebView2 embedding
  crates/auroraview-core/src/builder/window_style.rs
  src/platform/windows/webview2.rs
Due: rust, Rust Core

fix(qt): keep EventTimer ticking when only the sync core is ready
  python/auroraview/utils/event_timer.py
Due: python

fix: correct regressions from 2c39318 and 24e135b
  python/auroraview/utils/event_timer.py
  src/platform/windows/webview2.rs
Due: python, rust, Rust Core

fix(ci): resolve lint, encoding and test naming issues
  crates/auroraview-core/src/builder/window_style.rs
  examples/inspector_demo.py
  python/auroraview/utils/event_timer.py
  tests/rust/window_utils_integration_tests.rs
Due: python

fix(ci): handle PR comment 403 from fork PRs and missing issues permission
  .github/workflows/mutation-testing.yml
  .github/workflows/pr-checks.yml
Due: none

feat(file-drop): add use_default_file_drop toggle and bridge unbridged entrypoints
  Cargo.lock
  crates/auroraview-browser/src/config.rs
  crates/auroraview-browser/src/tab/events.rs
  crates/auroraview-browser/src/tab/manager.rs
  crates/auroraview-browser/tests/config_tests.rs
  crates/auroraview-browser/tests/tab_tests.rs
  crates/auroraview-core/src/builder/drag_drop.rs
  crates/auroraview-core/src/builder/helpers.rs
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/tests/builder_tests.rs
  crates/auroraview-desktop/Cargo.toml
  crates/auroraview-desktop/src/config.rs
  crates/auroraview-desktop/tests/config_tests.rs
  docs/rfcs/0013-default-file-drop-toggle_zh.md
  python/auroraview/core/webview.py
  python/auroraview/integration/qt/_core.py
  src/bindings/desktop_runner.rs
  src/bindings/runtime_desktop.rs
  src/bindings/tab_browser.rs
  src/webview/backend/native.rs
  src/webview/config.rs
  src/webview/core/main.rs
  src/webview/desktop.rs
  src/webview/drag_drop_bridge.rs
  src/webview/mod.rs
  src/webview/tab_manager.rs
  tests/python/integration/test_file_drop_toggle.py
  tests/python/integration/test_qt_lifecycle.py
  tests/python/unit/test_file_drop_events.py
Due: python, rust, Rust Core

fix(windows): unfreeze WebView2 cold-start STA pump
  Cargo.toml
  crates/auroraview-core/src/builder/window_style.rs
  src/platform/windows/webview2.rs
Due: rust, Rust Core

refactor(python): inline lifecycle mixins into WebView, drop factory module
  python/auroraview/core/event_emitter.py
  python/auroraview/core/factory.py
  python/auroraview/core/mixins/__init__.py
  python/auroraview/core/webview.py
Due: python

fix(python): delegate EventTimer readiness checks to WebView.is_ready
  python/auroraview/utils/event_timer.py
Due: python

docs: record webview2 cold-start fixes in CHANGELOG and add PR draft
  .github/PR_DRAFT_feat-webview-improve.md
  CHANGELOG.md
Due: none

chore: sync Cargo.lock with workspace 0.5.2 version bump
  Cargo.lock
Due: none

refactor(python): funnel WebView construction through _WebViewInitState
  python/auroraview/core/webview.py
  uv.lock
Due: python

fix(python): guard process_events against missing core in packed mode
  python/auroraview/core/webview.py
Due: python
