Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

test: enhance coverage for testing modules with additional code paths
  tests/python/unit/test_testing_modules.py
Due: none

feat(testing): add Midscene bridge JS injection via Rust assets
  crates/auroraview-core/src/assets.rs
  crates/auroraview-core/src/assets/js/features/midscene_bridge.js
  crates/auroraview-core/tests/assets_tests.rs
  python/auroraview/testing/__init__.py
  python/auroraview/testing/midscene.py
  src/bindings/assets.rs
  src/bindings/mod.rs
  src/lib.rs
  src/webview/js_assets.rs
  tests/test_testing_framework.py
Due: python, rust, Rust Core

feat(gallery): add GSAP animations and floating toolbar examples
  Cargo.lock
  docs/guide/gsap-animations.md
  docs/zh/guide/floating-panel.md
  docs/zh/guide/gsap-animations.md
  examples/automation_demo.py
  examples/channel_streaming_demo.py
  examples/child_aware_demo.py
  examples/child_window_demo.py
  examples/command_registry_demo.py
  examples/dock_launcher_demo.py
  examples/dom_batch_demo.py
  examples/event_timer_demo.py
  examples/floating_toolbar_demo.py
  examples/midscene_demo.py
  examples/radial_menu_demo.py
  examples/window_effects_demo.py
  gallery/package-lock.json
  gallery/package.json
  gallery/src/App.tsx
  gallery/src/components/AnimatedCard.tsx
  gallery/src/components/AnimatedHeader.tsx
  gallery/src/components/AnimatedSidebar.tsx
  gallery/src/components/PageTransition.tsx
  gallery/src/hooks/useGsapAnimations.ts
  tests/conftest.py
  tests/python/integration/conftest.py
  tests/python/integration/test_gallery_ai.py
  tests/test_gallery_cdp_ai.py
  uv.lock
Due: none

\fix(commands): rename invoke parameter to avoid kwarg conflicts
  python/auroraview/core/commands.py
Due: python

\fix(transparent): apply undecorated_shadow at window creation time
  src/webview/backend/native.rs
  src/webview/desktop.rs
  tests/python/visual/test_transparent_window.py
Due: rust, Rust Core

chore: migrate to vx for unified tool management
  .github/actions/build-and-test/action.yml
  .github/actions/setup-auroraview/action.yml
  .github/workflows/docs.yml
  justfile
  vx.toml
Due: none

refactor: use official vx GitHub Action instead of manual install
  .github/actions/setup-auroraview/action.yml
  .github/workflows/docs.yml
Due: none

fix(docs): install qtpy and PySide6 for pdoc generation
  .github/workflows/docs.yml
Due: none

fix(docs): install Qt6 system dependencies for PySide6
  .github/workflows/docs.yml
Due: none

fix(docs): skip pdoc generation, use manual API docs
  .github/workflows/docs.yml
Due: none

style: fix W293 blank line whitespace
  python/auroraview/testing/ai_automation.py
  tests/test_gallery_cdp.py
Due: python

fix: add cfg(windows) to WindowStyleHints.decorations field
  src/webview/desktop.rs
  src/webview/event_loop.rs
  src/webview/webview_inner.rs
Due: rust, Rust Core

feat(utils): add thread dispatcher for DCC main thread execution
  docs/guide/thread-dispatcher.md
  docs/zh/guide/thread-dispatcher.md
  python/auroraview/utils/__init__.py
  python/auroraview/utils/thread_dispatcher.py
  tests/test_thread_dispatcher.py
Due: python

fix(docs): remove .md extension from internal links for VitePress
  docs/guide/thread-dispatcher.md
  docs/zh/guide/thread-dispatcher.md
Due: none

docs: add Chinese DCC documentation
  docs/zh/dcc/3dsmax.md
  docs/zh/dcc/blender.md
  docs/zh/dcc/houdini.md
  docs/zh/dcc/index.md
  docs/zh/dcc/maya.md
  docs/zh/dcc/photoshop.md
  docs/zh/dcc/unreal.md
Due: none

fix: remove unused variable and use vx in pr-checks
  .github/workflows/pr-checks.yml
  tests/test_thread_dispatcher.py
Due: none

fix(ci): preserve release-please changelog and add version to artifact names
  .github/workflows/release.yml
Due: none

feat(cli): add self-update command
  Cargo.lock
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/cli/self_update.rs
  crates/auroraview-cli/src/main.rs
Due: none

fix(cli): resolve clippy warnings in self_update
  crates/auroraview-cli/src/cli/self_update.rs
Due: none

fix(cli): use Path instead of PathBuf in extract_binary
  crates/auroraview-cli/src/cli/self_update.rs
Due: none
