Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

refactor(backend): migrate NativeBackend to PyBindingsBackend trait
  crates/auroraview-core/src/backend/message_processor.rs
  crates/auroraview-core/src/backend/traits.rs
  src/webview/backend/native.rs
Due: rust, Rust Core

feat(backend): implement WebViewBackend trait abstraction
  Cargo.lock
  crates/auroraview-core/src/backend/lifecycle.rs
  crates/auroraview-core/src/backend/message_processor.rs
  crates/auroraview-core/src/backend/mod.rs
  crates/auroraview-core/src/backend/traits.rs
  crates/auroraview-core/src/backend/wry_impl.rs
  docs/architecture/thread-safety-diagnosis.md
  docs/architecture/thread-safety-diagnosis_zh.md
  packages/auroraview-mcp/uv.lock
  src/webview/backend/mod.rs
  test_dependency_debug.py
  tests/rust/thread_safety_diagnosis_tests.rs
  tests/test_thread_safety_diagnosis.py
  uv.lock
Due: rust, Rust Core

fix: resolve CI build errors in NativeBackend migration
  examples/ai_chat_demo.py
  examples/test_cancel_fix.py
  examples/test_dependency_install.py
  examples/test_enhanced_progress.py
  src/webview/backend/native.rs
  src/webview/webview_inner.rs
Due: rust, Rust Core

fix: resolve CI test failure and docs build error
  crates/auroraview-core/src/backend/lifecycle.rs
  docs/architecture/thread-safety-diagnosis.md
  docs/architecture/thread-safety-diagnosis_zh.md
Due: none

feat(thread-safety): add deadlock prevention and timeout protection
  crates/auroraview-core/src/lib.rs
  crates/auroraview-core/src/thread_safety/lock_order.rs
  crates/auroraview-core/src/thread_safety/mod.rs
  crates/auroraview-core/tests/thread_safety_tests.rs
  docs/guide/thread-dispatcher.md
  docs/rfcs/0002-dcc-thread-safety.md
  docs/zh/guide/thread-dispatcher.md
  python/auroraview/utils/__init__.py
  python/auroraview/utils/thread_dispatcher.py
  tests/test_thread_dispatcher.py
Due: python

feat(api): add unified WebView API with comprehensive documentation
  Cargo.lock
  docs/.vitepress/config.ts
  docs/guide/unified-api.md
  docs/guide/unified-api_zh.md
  python/auroraview/__init__.py
  python/auroraview/api.py
  tests/python/unit/test_unified_api.py
  uv.lock
Due: python, Python Core

docs: add unified show method documentation
  docs/guide/unified-api.md
  docs/guide/unified-api_zh.md
  tests/python/unit/test_unified_api.py
Due: none

test: add QtWebView showEvent auto-initialization tests
  tests/python/unit/test_unified_api.py
Due: none

fix: correct mixin import path in test_unified_api.py
  tests/python/unit/test_unified_api.py
Due: none

style: fix import sorting in test_unified_api.py
  tests/python/unit/test_unified_api.py
Due: none

fix: skip QtWebView instantiation tests when _core not available
  tests/python/unit/test_unified_api.py
Due: none

fix: enable Qt tests on Windows CI
  tests/python/integration/test_qt_backend.py
  tests/python/integration/test_qt_lifecycle.py
Due: none

fix: enable Qt tests on Windows CI
  crates/auroraview-core/src/thread_safety/lock_order.rs
  docs/guide/examples.md
  docs/guide/unified-api.md
  docs/guide/unified-api_zh.md
  docs/zh/guide/examples.md
  gallery/package-lock.json
  packages/auroraview-mcp/uv.lock
  python/auroraview/api.py
  python/auroraview/integration/qt/_core.py
  tests/conftest.py
  tests/python/integration/conftest.py
  tests/python/integration/test_qt_backend.py
  tests/python/integration/test_qt_lifecycle.py
Due: python, Python Core

docs: move Chinese unified-api to correct location
  docs/zh/guide/unified-api.md
Due: none

fix: make pdoc generation optional and non-interactive
  justfile
Due: none

fix skip gallery tests
  tests/python/unit/test_dependency_api.py
Due: none

fix: resolve merge conflicts in Qt test files
  tests/python/integration/test_qt_backend.py
  tests/python/integration/test_qt_lifecycle.py
Due: none

style: fix import sorting in conftest.py
  tests/python/integration/conftest.py
Due: none

style: format Qt test files
  tests/python/integration/test_qt_backend.py
  tests/python/integration/test_qt_lifecycle.py
Due: none

fix: add missing parameters to WebView.create() and WebViewFactory.create()
  python/auroraview/core/factory.py
  python/auroraview/core/webview.py
Due: python

fix: resolve CI failures
  docs/zh/guide/installation.md
  docs/zh/guide/multi-tab-browser.md
  docs/zh/guide/system-tray.md
  docs/zh/guide/webview-basics.md
  tests/python/unit/test_multi_tab_browser.py
Due: none

fix: improve Qt test cleanup to avoid access violations in CI
  tests/python/integration/test_qt_backend.py
Due: none

Path conditions:
  python: any of: python/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  rust: any of: src/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Python Core: any of: python/auroraview/*.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Rust Core: any of: src/**/*.rs, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Qt Integration: any of: python/auroraview/qt_integration.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
