Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

fix: update integration tests for CI compatibility
  pyproject.toml
  tests/python/integration/test_api_injection.py
  tests/python/integration/test_custom_protocol.py
  tests/python/integration/test_dom.py
Due: none

fix: skip PlaywrightBrowser native mode tests in CI
  tests/python/integration/test_playwright_browser.py
Due: none

refactor: replace Playwright native tests with WebView2 Browser tests
  tests/python/integration/test_api_injection.py
  tests/python/integration/test_auroratest_browser.py
  tests/python/integration/test_custom_protocol.py
  tests/python/integration/test_playwright_browser.py
Due: none

feat: add cross-platform PlaywrightBrowser tests with CI browser installation
  .github/actions/build-and-test/action.yml
  tests/python/integration/test_playwright_browser.py
Due: none

refactor: update test files for cross-platform WebView testing
  tests/python/integration/test_auroratest_browser.py
Due: none

refactor: update test_auroratest_browser.py for cross-platform WebView testing
  tests/python/integration/test_auroratest_browser.py
Due: none

fix: use force=True in Locator tests to skip actionability checks
  tests/python/integration/test_auroratest_browser.py
  tests/python/integration/test_playwright_browser.py
Due: none

fix: correct test file paths in noxfile.py and README
  README.md
  README_zh.md
  noxfile.py
Due: none

fix: skip Browser tests on Linux CI and fix localStorage test
  tests/python/integration/test_auroratest_browser.py
  tests/python/integration/test_playwright_browser.py
Due: none

fix: correct Qt test paths in pr-checks.yml
  .github/workflows/pr-checks.yml
Due: none

refactor(testing): replace legacy testing modules with HeadlessWebView framework
  README.md
  README_zh.md
  assets/images/architecture.png
  docs/HEADLESS_TESTING.md
  python/auroraview/core/backend.py
  python/auroraview/core/cookies.py
  python/auroraview/core/events.py
  python/auroraview/core/mixins/__init__.py
  python/auroraview/core/mixins/javascript.py
  python/auroraview/core/mixins/window.py
  python/auroraview/core/settings.py
  python/auroraview/integration/__init__.py
  python/auroraview/testing/__init__.py
  python/auroraview/testing/assertions.py
  python/auroraview/testing/fixtures.py
  python/auroraview/testing/headless.py
  python/auroraview/testing/headless_webview.py
  python/auroraview/testing/pytest_plugin.py
  python/auroraview/testing/webview_bot.py
  python/auroraview/ui/menu.py
  python/auroraview/utils/async_event_processor.py
  src/ipc/message_queue.rs
  src/webview/event_loop.rs
  tests/QUICK_REFERENCE.md
  tests/README.md
  tests/python/integration/conftest.py
  tests/python/integration/test_basic_functionality.py
  tests/python/integration/test_headless_webview.py
  tests/python/integration/test_window_dragging.py
  tests/python/unit/test_backend.py
  tests/python/unit/test_cookies.py
  tests/python/unit/test_imports.py
  tests/python/unit/test_qt_signals.py
  tests/python/unit/test_testing_framework.py
  tests/python/unit/test_testing_module.py
  uv.lock
Due: python, rust, Rust Core

docs: update API examples and add llms.txt index file
  README.md
  examples/simple_decorator.py
  llms.txt
Due: none

ci: add CLI --help and --version smoke tests after build
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

ci: add CLI entry point --help test in wheel build
  .github/actions/build-wheel/action.yml
Due: none

ci: test actual auroraview CLI executable from wheel entry_point
  .github/actions/build-wheel/action.yml
Due: none

fix: skip Browser tests on macOS CI and fix actions/checkout version
  .github/workflows/build-wheels.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  tests/python/integration/test_auroratest_browser.py
Due: none

ci: add ext-module feature and pytest-qt testing infrastructure
  .github/actions/build-and-test/action.yml
  .github/actions/setup-auroraview/action.yml
  justfile
  pyproject.toml
  python/auroraview/testing/__init__.py
  python/auroraview/testing/qt.py
  tests/python/integration/conftest.py
  tests/python/integration/test_api_injection_timing.py
  tests/python/integration/test_auto_process_events.py
  tests/python/integration/test_context_menu.py
  tests/python/integration/test_maya_qt_echo_demo.py
  tests/python/integration/test_qt_backend.py
  tests/python/integration/test_qt_event_processor.py
  tests/python/integration/test_qt_lifecycle.py
  tests/python/integration/test_timer_integration.py
  tests/python/unit/test_qt_signals.py
Due: python

perf(logging): add conditional verbose logging for DCC environments
  python/auroraview/integration/qt/_compat.py
  python/auroraview/integration/qt/_core.py
  python/auroraview/integration/qt/signals.py
  python/auroraview/utils/__init__.py
  python/auroraview/utils/logging.py
Due: python

feat: add cross-platform Python tests (Linux, Windows, macOS)
  .github/workflows/pr-checks.yml
Due: none

fix(ci): correct Rust integration test names in CI configuration
  .github/actions/build-and-test/action.yml
  .github/workflows/ci.yml
Due: none

feat(signals): add Qt-inspired signal-slot event system
  crates/auroraview-core/src/signals.rs
  python/auroraview/core/signals.py
  tests/python/unit/test_signals.py
Due: python

feat(testing): add PlaywrightBrowser for Playwright-based UI testing
  README.md
  README_zh.md
  crates/auroraview-core/src/assets.rs
  crates/auroraview-core/src/assets/js/features/network_intercept.js
  crates/auroraview-core/src/assets/js/features/screenshot.js
  crates/auroraview-core/src/assets/js/features/test_callback.js
  pyproject.toml
  python/auroraview/core/mixins/content.py
  python/auroraview/testing/auroratest/__init__.py
  python/auroraview/testing/auroratest/browser.py
  python/auroraview/testing/auroratest/locator.py
  python/auroraview/testing/auroratest/page.py
  python/auroraview/testing/auroratest/playwright_browser.py
  src/bindings/standalone_runner.rs
  src/ipc/message_queue.rs
  src/webview/backend/native.rs
  src/webview/config.rs
  src/webview/core/main.rs
  src/webview/event_loop.rs
  src/webview/js_assets.rs
  src/webview/message_processor.rs
  src/webview/proxy.rs
  src/webview/standalone.rs
  src/webview/webview_inner.rs
  tests/conftest.py
  tests/pytest.ini
  tests/python/integration/test_auroratest_api.py
  tests/python/integration/test_auroratest_dom.py
  tests/python/integration/test_auroratest_events.py
  tests/python/integration/test_auroratest_webview.py
  tests/python/integration/test_bind_call.py
  tests/python/integration/test_event_timer.py
  tests/python/integration/test_playwright_browser.py
  tests/python/integration/test_qt_event_processor.py
  tests/python/integration/test_timer_integration.py
  uv.lock
Due: python, rust, Rust Core

perf(qt): optimize window style operations and fix initialization timing
  python/auroraview/integration/qt/_compat.py
  python/auroraview/integration/qt/_core.py
  src/webview/core/multiwindow.rs
Due: python, rust, Rust Core

fix: resolve unit test collection errors on Linux CI
  tests/python/integration/test_context_menu.py
  tests/python/unit/integration/qt/test_platform_base.py
  tests/python/unit/integration/qt/test_platform_init.py
  tests/python/unit/integration/qt/test_pool.py
Due: none

fix: correct function name in cli_utils test
  src/bindings/cli_utils.rs
Due: rust, Rust Core

feat: add apply_qt6_dialog_optimizations function
  python/auroraview/integration/qt/_compat.py
Due: python

perf(warmup): auto-start WebView2 warmup on module import
  python/auroraview/__init__.py
Due: python, Python Core

fix: use find_spec instead of import for playwright check
  tests/python/integration/test_js_assets_packaging.py
  tests/python/integration/test_playwright_browser.py
  tests/python/integration/test_standalone_runner.py
Due: none

feat: add xvfb support for headless UI tests in CI
  .github/actions/build-and-test/action.yml
  tests/python/integration/test_basic_functionality.py
  tests/python/integration/test_window_dragging.py
Due: none

fix: import testing fixtures in conftest and skip UI tests in CI
  .github/actions/build-and-test/action.yml
  tests/python/integration/conftest.py
  tests/python/integration/test_basic_functionality.py
  tests/python/integration/test_dom.py
  tests/python/integration/test_standalone_runner.py
  tests/python/integration/test_timer_integration.py
  tests/python/integration/test_window_dragging.py
Due: none

fix: resolve cross-platform compilation errors for Linux CI
  src/ipc/backend.rs
  src/webview/backend/native.rs
Due: rust, Rust Core

fix: resolve clippy warnings and CI ruff installation
  .githooks/pre-commit
  .github/workflows/pr-checks.yml
  crates/auroraview-pack/src/lib.rs
  src/webview/core/main.rs
Due: rust, Rust Core

Path conditions:
  python: any of: python/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  rust: any of: src/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Python Core: any of: python/auroraview/*.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Rust Core: any of: src/**/*.rs, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Qt Integration: any of: python/auroraview/qt_integration.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
