Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

fix(gallery): restore installExtensionFromUrl hook wiring
  gallery/src/App.tsx
  gallery/src/hooks/useAuroraView.ts
Due: none

fix(py): add telemetry fallback for environments without native core
  python/auroraview/telemetry.py
Due: python, Python Core

fix(pack): stream python standalone download to avoid size limit
  crates/auroraview-pack/src/python_standalone.rs
Due: none

fix(pack): stream vx/downloader responses to avoid body limits
  crates/auroraview-pack/src/downloader.rs
  crates/auroraview-pack/src/vx_tool.rs
Due: none

feat(pack): add vx-only dependency mode and auto vx ensure
  crates/auroraview-pack/src/builder/win.rs
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/deps_collector.rs
  crates/auroraview-pack/src/manifest.rs
  crates/auroraview-pack/src/packer/mod.rs
  crates/auroraview-pack/src/vx_tool.rs
Due: none

chore(skills): add vx-usage skills and update gallery pack config
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .kiro/skills/vx-usage/SKILL.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  gallery/auroraview.pack.toml
Due: none

fix(pack): use ureq for downloads, fix vx release URL pattern
  crates/auroraview-pack/src/python_standalone.rs
  crates/auroraview-pack/src/vx_tool.rs
Due: none

style: apply cargo fmt to telemetry crate
  crates/auroraview-telemetry/src/metrics.rs
  crates/auroraview-telemetry/src/provider.rs
Due: none

feat: add telemetry stack and migrate pre-commit to vx prek
  $null
  .githooks/pre-commit
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/auroraview-telemetry/Cargo.toml
  crates/auroraview-telemetry/src/lib.rs
  crates/auroraview-telemetry/src/python.rs
  crates/auroraview-telemetry/tests/error_tests.rs
  crates/auroraview-telemetry/tests/guard_tests.rs
  crates/auroraview-telemetry/tests/metrics_tests.rs
  docs/guide/telemetry.md
  docs/zh/guide/telemetry.md
  gallery/backend/__init__.py
  gallery/backend/telemetry_api.py
  gallery/main.py
  gallery/pnpm-lock.yaml
  gallery/src/App.tsx
  gallery/src/components/AnimatedSidebar.tsx
  gallery/src/components/TelemetryPanel.tsx
  gallery/src/hooks/useAuroraView.ts
  justfile
  packages/auroraview-mcp/src/auroraview_mcp/resources/providers.py
  packages/auroraview-mcp/src/auroraview_mcp/server.py
  packages/auroraview-mcp/src/auroraview_mcp/tools/telemetry.py
  python/auroraview/core/mixins/__init__.py
  python/auroraview/core/mixins/api.py
  python/auroraview/core/mixins/content.py
  python/auroraview/core/mixins/events.py
  python/auroraview/core/mixins/javascript.py
  python/auroraview/core/mixins/telemetry.py
  python/auroraview/core/webview.py
  python/auroraview/telemetry.py
  src/lib.rs
  tests/python/unit/test_auto_telemetry.py
  tests/python/unit/test_telemetry.py
  uv.lock
Due: python, rust, Python Core, Rust Core

fix: skip _core.pyd check in packed mode & feat: add auroraview-telemetry crate
  .github/workflows/rust-crates-ci.yml
  Cargo.lock
  Cargo.toml
  crates/auroraview-telemetry/Cargo.toml
  crates/auroraview-telemetry/src/config.rs
  crates/auroraview-telemetry/src/error.rs
  crates/auroraview-telemetry/src/guard.rs
  crates/auroraview-telemetry/src/lib.rs
  crates/auroraview-telemetry/src/metrics.rs
  crates/auroraview-telemetry/src/provider.rs
  crates/auroraview-telemetry/src/span_ext.rs
  crates/auroraview-telemetry/tests/config_tests.rs
  crates/auroraview-telemetry/tests/error_tests.rs
  crates/auroraview-telemetry/tests/guard_tests.rs
  crates/auroraview-telemetry/tests/metrics_tests.rs
  docs/guide/telemetry.md
  docs/zh/guide/telemetry.md
  python/auroraview/core/webview.py
  tests/python/unit/test_webview_packed_init.py
Due: python

refactor(pack): use vx to manage rcedit instead of manual download
  crates/auroraview-pack/src/resource_editor.rs
  vx.toml
Due: none

fix(ci): replace deprecated windows-2019, add bun setup, run vx ensure before build
  .codebuddy/memory/2026-03-11.md
  .github/workflows/build-gallery.yml
  .github/workflows/build-wheels.yml
  .github/workflows/pr-checks.yml
  crates/auroraview-cli/src/cli/pack.rs
  crates/auroraview-pack/src/builder/win.rs
  crates/auroraview-pack/src/lib.rs
Due: none

ci: unify local and workflow build entrypoints
  .github/actions/build-wheel/action.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-gallery.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/python-ci.yml
  .github/workflows/sdk-ci.yml
  gallery/pnpm-lock.yaml
  justfile
Due: none

build: align docs and toolchain config
  README.md
  README_zh.md
  crates/auroraview-workspace-hack/Cargo.toml
  vx.toml
Due: none

fix: fix QtWebView initial position
  .gitignore
  Cargo.lock
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/src/builder/window_style.rs
  docs/auroraview-core说明与白色边框修改指南.md
  gallery/package-lock.json
  justfile
  package-lock.json
  python/auroraview/integration/qt/_core.py
  python/auroraview/integration/qt/embedding.py
  python/auroraview/integration/qt/platforms/win.py
  src/webview/backend/native.rs
  uv.lock
  vx.lock
  vx.toml
Due: python, rust, Rust Core

ci: fix bun-based build entrypoints
  .github/actions/build-and-test/action.yml
  .github/actions/build-wheel/action.yml
  .github/actions/setup-auroraview/action.yml
  .github/workflows/build-wheels.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .github/workflows/rust-crates-ci.yml
  .github/workflows/sdk-ci.yml
  docs/package.json
  gallery/package.json
  justfile
  packages/auroraview-sdk/package.json
  vx.toml
Due: none

fix: fix QtWebView border
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/src/builder/window_style.rs
  python/auroraview/integration/qt/lifecycle.py
  python/auroraview/integration/qt/platforms/win.py
  src/webview/backend/native.rs
  src/window_utils.rs
Due: python, rust, Rust Core

ci: restore vx setup and msvc env
  .github/actions/build-wheel/action.yml
  .github/actions/setup-auroraview/action.yml
  .github/workflows/pr-checks.yml
  .github/workflows/sdk-ci.yml
Due: none

ci: stop overriding windows msvc linker
  crates/auroraview-cli/src/packed/utils.rs
  justfile
Due: none

ci: reapply msvc env in windows cli jobs
  .github/workflows/build-cli.yml
  .github/workflows/ci.yml
Due: none

ci: use native cargo for windows cli build
  justfile
Due: none

ci: bypass vx for windows cli builds
  .github/workflows/build-cli.yml
  .github/workflows/ci.yml
Due: none

ci: run windows cli builds inside vsdevcmd
  .github/workflows/build-cli.yml
  .github/workflows/ci.yml
Due: none

ci: invoke cargo directly for windows cli jobs
  .github/workflows/build-cli.yml
  .github/workflows/ci.yml
Due: none

fix: clear debug, fix winId()
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/src/builder/window_style.rs
  docs/auroraview-core说明与白色边框修改指南.md
  python/auroraview/integration/qt/_core.py
  python/auroraview/integration/qt/embedding.py
  python/auroraview/integration/qt/platforms/win.py
  src/webview/backend/native.rs
Due: python, rust, Rust Core

ci: bypass windows cli recipe in remaining workflows
  .github/workflows/build-gallery.yml
  .github/workflows/pr-checks.yml
Due: none

pack: run gallery build hooks via vx
  crates/auroraview-cli/src/cli/pack.rs
  gallery/auroraview.pack.debug.toml
  gallery/auroraview.pack.toml
Due: none
