Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

fix(auroraview-protect): migrate test suite to rand 0.10 API
  crates/auroraview-protect/Cargo.toml
  crates/auroraview-protect/tests/crypto_tests.rs
Due: none

fix: prevent zombie widget RuntimeError in DCC environments
  python/auroraview/integration/qt/_core.py
  python/auroraview/integration/qt/lifecycle.py
  tests/python/integration/test_qt_lifecycle.py
  tests/python/integration/test_qt_zombie_fix.py
Due: python

refactor: simplify signal bridge lifecycle and zombie guard logic
  python/auroraview/integration/qt/_core.py
  tests/python/integration/test_qt_zombie_fix.py
Due: python

fix(qt-lifecycle): isolate cleanup steps so close path is reentrant
  python/auroraview/integration/qt/lifecycle.py
Due: python

test(qt): add unit tests for zombie-widget guards in QtWebView
  tests/python/unit/integration/qt/test_core_zombie_guards.py
Due: none

test(qt): expand zombie-guard unit tests for higher patch coverage
  tests/python/unit/integration/qt/test_core_zombie_guards.py
Due: none

fix(qt): declare ctypes argtypes to avoid 64-bit handle overflow
  gallery/check_window.py
  python/auroraview/integration/qt/platforms/win.py
  tests/python/unit/integration/qt/test_platform_win.py
Due: python

refactor: lift fix_webview2_child_windows into auroraview-core
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/src/builder/window_style.rs
  crates/auroraview-core/tests/window_style_tests.rs
  src/webview/backend/native.rs
  src/window_utils.rs
Due: rust, Rust Core

fix: remove white border on standalone frameless windows
  src/webview/desktop/mod.rs
Due: rust, Rust Core

fix: guard fix_webview2_child_windows against NULL hwnd
  crates/auroraview-core/src/builder/window_style.rs
  crates/auroraview-core/tests/window_style_tests.rs
Due: none

fix: restore WebView2 subclass on destroy and warn on missing hwnd
  crates/auroraview-core/src/builder/window_style.rs
  src/webview/desktop/mod.rs
Due: rust, Rust Core

refactor(qt): simplify ctypes signatures and drop dead child-window recursion
  python/auroraview/integration/qt/embedding.py
  python/auroraview/integration/qt/platforms/win.py
  tests/python/unit/integration/qt/test_embedding.py
  tests/python/unit/integration/qt/test_platform_win.py
Due: python

style: apply ruff format to win.py
  python/auroraview/integration/qt/platforms/win.py
Due: python

style: apply cargo fmt to fix rustfmt CI check
  crates/auroraview-core/src/builder/window_style.rs
Due: none

style: cargo fmt
  src/webview/desktop/icon.rs
Due: rust, Rust Core

chore: update unsafe allowlist after refactor
  scripts/unsafe_allowlist.txt
Due: none

fix: update unsafe allowlist counts for window_style.rs and native.rs
  scripts/unsafe_allowlist.txt
Due: none

test: cover WS_EX_CONTEXTHELP and trim redundant window-style tests
  crates/auroraview-core/tests/window_style_tests.rs
Due: none

style: fix cargo fmt
  crates/auroraview-core/tests/window_style_tests.rs
Due: none

test: cover WS_EX_CONTEXTHELP and trim redundant window-style tests (#438)
  crates/auroraview-core/tests/window_style_tests.rs
Due: none

fix(ci): install llvm-tools-preview through vx for rust coverage
  .github/workflows/pr-checks.yml
Due: none

test(integration): realign integration tests with current source APIs
  tests/python/integration/test_browser_integration.py
  tests/python/integration/test_cli_main.py
  tests/python/integration/test_event_timer.py
  tests/python/integration/test_ipc_channel_e2e.py
  tests/python/integration/test_multi_window_integration.py
  tests/python/integration/test_qt_event_processor.py
  tests/python/integration/test_timer_integration.py
Due: none

test: stabilize Qt integration tests against strict bindings and GC
  tests/python/integration/test_multi_window_integration.py
  tests/python/integration/test_qt_zombie_fix.py
Due: none

fix(ci): symlink system llvm-profdata into vx toolchain for rust coverage
  .github/workflows/pr-checks.yml
Due: none

test(integration): remove retired gallery IPC channel skip case
  tests/python/integration/test_ipc_channel_e2e.py
Due: none

fix(ci): symlink system llvm-profdata into vx toolchain for rust coverage (#440)
  .github/workflows/pr-checks.yml
Due: none

test(integration): drop redundant local MagicMock re-imports
  tests/python/integration/test_event_timer.py
Due: none

feat(cli): add packed headless CLI mode foundations (RFC 0018 steps 1-4)
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-cli/src/main.rs
  crates/auroraview-cli/src/packed/cli.rs
  crates/auroraview-cli/src/packed/console.rs
  crates/auroraview-cli/src/packed/mod.rs
  python/auroraview/core/commands.py
  python/auroraview/core/mixins/commands.py
  python/auroraview/core/mixins/lifecycle.py
  python/auroraview/core/packed.py
  tests/python/unit/test_commands.py
  tests/python/unit/test_packed.py
Due: python

feat(cli): complete packed headless CLI mode (RFC 0018 steps 5-8)
  crates/auroraview-cli/src/cli/inspect.rs
  crates/auroraview-cli/src/packed/cli.rs
  crates/auroraview-cli/src/packed/mod.rs
  crates/auroraview-cli/src/packed/render.rs
  crates/auroraview-cli/src/packed/run.rs
  crates/auroraview-pack/src/builder/win.rs
  crates/auroraview-pack/src/cli_dump.rs
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/lib.rs
  crates/auroraview-pack/tests/overlay_tests.rs
  docs/guide/packing.md
  docs/zh/guide/packing.md
  python/auroraview/core/cli_invoke.py
  python/auroraview/core/mixins/lifecycle.py
  python/auroraview/core/packed.py
  tests/python/unit/test_cli_invoke.py
Due: python

docs: document packed headless CLI mode and Windows .cmd shim
  README.md
  README_zh.md
  docs/guide/cli.md
  docs/guide/packing.md
  docs/zh/guide/cli.md
  docs/zh/guide/packing.md
Due: none

feat: write CLI .cmd shim for GUI-subsystem packed exe
  crates/auroraview-pack/src/builder/win.rs
Due: none

fix: suppress __command_registered__ emit in headless CLI mode
  python/auroraview/core/commands.py
  tests/python/unit/test_commands.py
Due: python

Path conditions:
  python: any of: python/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  rust: any of: src/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Python Core: any of: python/auroraview/*.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Rust Core: any of: src/**/*.rs, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Qt Integration: any of: python/auroraview/qt_integration.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
