Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

[cleanup] docs: sync extensions commands and log structural cleanup follow-ups
  CLEANUP_TODO.md
  crates/auroraview-plugins/src/extensions.rs
Due: none

[cleanup] tests: remove redundant pack lib smoke tests
  crates/auroraview-pack/tests/lib_tests.rs
Due: none

[cleanup] code-quality: restore clippy-clean test suite across rust crates
  crates/auroraview-bookmarks/tests/bookmark_tests.rs
  crates/auroraview-browser/tests/error_tests.rs
  crates/auroraview-core/tests/click_through_tests.rs
  crates/auroraview-core/tests/icon_converter_tests.rs
  crates/auroraview-core/tests/ipc_tests.rs
  crates/auroraview-core/tests/menu_tests.rs
  crates/auroraview-core/tests/protocol_tests.rs
  crates/auroraview-dcc/tests/error_tests.rs
  crates/auroraview-desktop/tests/error_tests.rs
  crates/auroraview-notifications/tests/notification_tests.rs
  crates/auroraview-pack/tests/error_tests.rs
  crates/auroraview-pack/tests/license_tests.rs
  crates/auroraview-plugins/tests/types_tests.rs
  crates/auroraview-settings/tests/settings_tests.rs
  crates/auroraview-telemetry/tests/span_ext_tests.rs
Due: none

[cleanup] code-quality: add source-checkout asset fallbacks
  crates/auroraview-core/src/assets.rs
  crates/auroraview-plugins/src/process.rs
  src/lib.rs
Due: rust, Rust Core

[cleanup] tests: align Python integration checks with optional runtimes
  tests/python/integration/test_api_injection_timing.py
  tests/python/integration/test_gallery_contract.py
  tests/python/integration/test_gallery_plugin_api.py
  tests/python/integration/test_gallery_real_e2e.py
  tests/python/integration/test_integration.py
  tests/python/integration/test_qt_backend.py
  tests/python/integration/test_qt_event_processor.py
  tests/python/integration/test_qt_lifecycle.py
  tests/python/integration/test_qt_pool.py
  tests/python/integration/test_standalone_runner.py
  tests/python/unit/test_qt_signals.py
Due: none

[cleanup] docs: record current Python gate blockers
  .codebuddy/automations/auroraview-clearup/memory.md
  CLEANUP_TODO.md
Due: none

test(pack): expand builder coverage
  .codebuddy/automations/auroraview-auto-improve/memory.md
  crates/auroraview-pack/tests/builder_tests.rs
Due: none

test(pack): expand config/packer/progress test coverage
  crates/auroraview-pack/tests/config_tests.rs
  crates/auroraview-pack/tests/packer_tests.rs
  crates/auroraview-pack/tests/progress_tests.rs
Due: none

test(dom): expand dom_tests coverage - all 28 DomOp variants + convenience methods (35 -> ~75 tests)
  crates/auroraview-core/tests/dom_tests.rs
Due: none

test(events+cleanup): add events_tests (39 tests) and cleanup_tests (12 tests) - all CoreUserEvent/ExtendedUserEvent variants + CleanupStats invariants
  crates/auroraview-core/tests/cleanup_tests.rs
  crates/auroraview-core/tests/events_tests.rs
Due: none

[cleanup] code-quality: fix clippy errors and remove test_ prefix from 160 integration test functions
  .codebuddy/automations/auroraview-auto-improve/memory.md
  crates/auroraview-pack/tests/config_tests.rs
  crates/auroraview-pack/tests/packer_tests.rs
  tests/rust/config_integration_tests.rs
  tests/rust/file_protocol_integration_tests.rs
  tests/rust/http_discovery_integration_tests.rs
  tests/rust/ipc_json_integration_tests.rs
  tests/rust/ipc_message_queue_integration_tests.rs
  tests/rust/ipc_roundtrip_integration_tests.rs
  tests/rust/lifecycle_integration_tests.rs
  tests/rust/mdns_integration_tests.rs
  tests/rust/port_allocator_integration_tests.rs
  tests/rust/protocol_handlers_integration_tests.rs
  tests/rust/protocol_integration_tests.rs
  tests/rust/standalone_integration_tests.rs
  tests/rust/timer_integration_tests.rs
  tests/rust/window_utils_integration_tests.rs
Due: none

[cleanup] rust-code: remove unused extract_resources, print_targets (deprecated), and ScopedTimer
  crates/auroraview-cli/src/packed/extract.rs
  crates/auroraview-pack/src/metrics.rs
  crates/auroraview-pack/src/packer/mod.rs
Due: none

[cleanup] code-quality: fix test function name conflicts, remove unused mut and dropping_references warnings
  crates/auroraview-pack/tests/packer_tests.rs
  crates/auroraview-pack/tests/progress_tests.rs
  tests/rust/protocol_handlers_integration_tests.rs
Due: none

[cleanup] tests: fix mdns_integration test fixture parameter name
  tests/rust/mdns_integration_tests.rs
Due: none

[cleanup] rust-code: remove unused functions, fields, types, and imports
  .codebuddy/automations/auroraview-clearup/memory.md
  crates/auroraview-cli/src/protocol_handlers.rs
  crates/auroraview-core/src/builder/window_style.rs
  crates/auroraview-dcc/src/webview.rs
  crates/auroraview-extensions/src/apis/context_menus.rs
  crates/auroraview-extensions/src/apis/runtime.rs
  crates/auroraview-extensions/src/apis/sessions.rs
  crates/auroraview-extensions/src/apis/tabs.rs
  crates/auroraview-extensions/src/service_worker.rs
  crates/auroraview-extensions/src/storage.rs
  crates/auroraview-pack/src/overlay.rs
  crates/auroraview-plugins/src/process.rs
  crates/auroraview-tabs/src/group.rs
  crates/auroraview-testing/src/a11y/tree.rs
Due: none

[cleanup] docs: move issues.md to docs/reviews/ and remove temp files
  docs/reviews/code-review-2025-12-27.md
  package-lock.json
Due: none

[cleanup] rust-code: remove dead code - process_messages_enhanced, register_standalone_runner, unused lifecycle methods, async_handler::off; fix clippy doc_lazy_continuation (-95 lines net)
  crates/auroraview-core/src/builder/window_style.rs
  src/bindings/desktop_runner.rs
  src/ipc/async_handler.rs
  src/ipc/handler.rs
  src/webview/lifecycle.rs
  src/webview/message_pump.rs
Due: rust, Rust Core

[cleanup] docs: update thread-safety-diagnosis docs to remove legacy_embedded reference (deleted in this round)
  docs/architecture/thread-safety-diagnosis.md
  docs/architecture/thread-safety-diagnosis_zh.md
Due: none

[cleanup] deprecated-api: update examples/gallery to use current APIs
  examples/local_assets_example.py
  gallery/main.py
  python/auroraview/__init__.py
Due: python, Python Core

[cleanup] rust-code: remove unnecessary #[allow(dead_code)] and #[allow(clippy::manual_map)] annotations
  .codebuddy/automations/auroraview-clearup/memory.md
  crates/auroraview-core/src/builder/click_through.rs
  crates/auroraview-core/src/builder/vibrancy.rs
  crates/auroraview-core/src/protocol.rs
Due: none

[cleanup] docs: add deprecation notices to legacy API documentation
  docs/api/index.md
  docs/guide/packing.md
  docs/zh/api/index.md
Due: none

[cleanup] code-quality: fix import ordering in core crate (icon, service_discovery)
  crates/auroraview-core/src/icon/compress.rs
  crates/auroraview-core/src/icon/converter.rs
  crates/auroraview-core/src/icon/loader.rs
  crates/auroraview-core/src/service_discovery/http_discovery.rs
Due: none

[cleanup] structural-assessment: record large modules and dependency analysis in CLEANUP_TODO [cleanup-done]
  CLEANUP_TODO.md
Due: none

[cleanup] rust-code: improve dead_code annotations and remove unused Python variable
  crates/auroraview-core/src/thread_safety/lock_order.rs
  crates/auroraview-pack/src/overlay.rs
  crates/auroraview-plugins/src/process.rs
  docs/guide/packing.md
  python/auroraview/core/mixins/javascript.py
Due: python

[cleanup] docs: migrate local_assets_example from run_standalone to run_desktop
  docs/guide/examples.md
  examples/local_assets_example.py
Due: none

[cleanup] rust-code: fix compile errors and clippy warnings in plugins/pack/core
  crates/auroraview-core/src/builder/vibrancy.rs
  crates/auroraview-core/src/protocol.rs
  crates/auroraview-pack/src/overlay.rs
  crates/auroraview-plugins/src/process.rs
Due: none

[cleanup] docs: update pack-example deprecation note and refresh dead_code count
  CLEANUP_TODO.md
  examples/pack-example.toml
Due: none

[cleanup] docs: migrate run_standalone references to run_desktop in guide examples
  docs/api/index.md
  docs/guide/examples.md
  docs/zh/api/index.md
  docs/zh/guide/examples.md
Due: none

[cleanup] docs: update dead_code count from 58 to 5 in CLEANUP_TODO [cleanup-done]
  CLEANUP_TODO.md
Due: none

[cleanup] code-quality: lift time/asyncio imports to module level in javascript mixin
  python/auroraview/core/mixins/javascript.py
Due: python

[cleanup] code-quality: lift inline imports to module level (inspector, automation, webview, __init__)
  python/auroraview/__init__.py
  python/auroraview/core/webview.py
  python/auroraview/testing/inspector.py
  python/auroraview/utils/automation.py
Due: python, Python Core

[cleanup] code-quality: remove unused deprecated() decorator and warnings import
  python/auroraview/core/__init__.py
  python/auroraview/core/event_emitter.py
Due: python

[cleanup] docs: record deprecated() removal and events.rs TODO in CLEANUP_TODO [cleanup-done]
  CLEANUP_TODO.md
Due: none

[cleanup] python-code: remove stale deprecated from __all__ and unused WindowEventData2 alias
  python/auroraview/core/__init__.py
Due: python

[cleanup] docs: update structural assessment date and resolve issues.md entry [cleanup-done]
  CLEANUP_TODO.md
Due: none

fix(mcp): apply ruff format to providers.py and telemetry.py
  packages/auroraview-mcp/src/auroraview_mcp/resources/providers.py
  packages/auroraview-mcp/src/auroraview_mcp/tools/telemetry.py
Due: none

fix(ci): remove blank line in sdk-ci.yml heredoc causing SDK Ready false failure
  .github/workflows/sdk-ci.yml
Due: none

[cleanup] code-quality: migrate plugins.rs from std::sync::RwLock to parking_lot [cleanup-done]
  src/webview/core/plugins.rs
Due: rust, Rust Core

Path conditions:
  python: any of: python/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  rust: any of: src/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Python Core: any of: python/auroraview/*.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Rust Core: any of: src/**/*.rs, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Qt Integration: any of: python/auroraview/qt_integration.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
