Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

Fix docs-python-api to use uv venv
  justfile
Due: none

Fix Windows venv path resolution in mcp-ci
  .github/workflows/mcp-ci.yml
Due: none

Fix test dependency_api DummyInstaller to accept cancel_event
  tests/python/unit/test_dependency_api.py
Due: none

fix(ci): resolve Python 3.7 test failures and unify GitHub Actions versions
  .github/actions/build-and-test/action.yml
  .github/actions/build-wheel/action.yml
  .github/actions/cache-setup/action.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-gallery.yml
  .github/workflows/build-wheels.yml
  .github/workflows/mcp-ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  .github/workflows/sdk-ci.yml
Due: none

fix(ci): use correct Python executable path for uv venv
  .github/actions/build-wheel/action.yml
  .github/workflows/mcp-ci.yml
Due: none

style: fix import order in automation.py
  python/auroraview/utils/automation.py
Due: python

feat(thread-safety): add DCC thread-safe utilities and WebView dcc_mode support
  docs/guide/thread-dispatcher.md
  docs/rfcs/0002-dcc-thread-safety.md
  docs/zh/guide/thread-dispatcher.md
  python/auroraview/core/mixins/events.py
  python/auroraview/core/webview.py
  python/auroraview/utils/__init__.py
  python/auroraview/utils/thread_dispatcher.py
Due: python

Fix docs build artifacts and py37 import path
  .gitignore
  crates/auroraview-core/src/assets/js/core/event_bridge.js
  docs/dcc/3dsmax.md
  docs/dcc/blender.md
  docs/dcc/houdini.md
  docs/dcc/maya.md
  docs/dcc/substance-painter.md
  docs/guide/examples.md
  docs/guide/qt-integration.md
  docs/rfcs/0002-dcc-thread-safety.md
  docs/rfcs/0003-vx-packed-dependency-bootstrap.md
  docs/zh/dcc/3dsmax.md
  docs/zh/dcc/blender.md
  docs/zh/dcc/houdini.md
  docs/zh/dcc/maya.md
  docs/zh/dcc/substance-painter.md
  docs/zh/guide/examples.md
  docs/zh/guide/qt-integration.md
  examples/ai_chat_demo.py
  gallery/main.py
  gallery/package-lock.json
  gallery/src/components/AnimatedHeader.tsx
  gallery/src/components/CategorySection.tsx
  gallery/src/components/Footer.tsx
  gallery/src/components/QuickLinks.tsx
  gallery/src/components/SampleCard.tsx
  justfile
  packages/auroraview-mcp/uv.lock
  packages/auroraview-sdk/package-lock.json
  python/auroraview/core/webview.py
  python/auroraview/integration/qt/_core.py
  python/auroraview/utils/__init__.py
  python/auroraview/utils/automation.py
  python/auroraview/utils/thread_dispatcher.py
  tests/conftest.py
Due: python

feat(gallery): dependency installer with white theme
  gallery/backend/dependency_api.py
  gallery/backend/dependency_installer.py
  gallery/src/App.tsx
  gallery/src/components/AnimatedSidebar.tsx
  gallery/src/components/DependencyModal.tsx
  gallery/src/hooks/useAuroraView.ts
  gallery/src/index.css
  tests/python/unit/test_dependency_api.py
Due: none

Fix docs-build to install pdoc in system env
  justfile
Due: none

Fix Windows venv creation in mcp-ci
  .github/workflows/mcp-ci.yml
Due: none

docs(dcc): add thread safety sections and Substance Painter integration
  Cargo.lock
  docs/dcc/3dsmax.md
  docs/dcc/blender.md
  docs/dcc/houdini.md
  docs/dcc/index.md
  docs/dcc/maya.md
  docs/dcc/substance-painter.md
  docs/guide/examples.md
  docs/zh/dcc/3dsmax.md
  docs/zh/dcc/blender.md
  docs/zh/dcc/houdini.md
  docs/zh/dcc/index.md
  docs/zh/dcc/maya.md
  docs/zh/dcc/substance-painter.md
  docs/zh/guide/examples.md
  python/auroraview/core/mixins/events.py
  python/auroraview/core/webview.py
  python/auroraview/utils/thread_dispatcher.py
  uv.lock
Due: python

feat: implement vx packed dependency bootstrap system
  .github/workflows/mcp-ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .github/workflows/rust-crates-ci.yml
  Cargo.lock
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-pack/Cargo.toml
  crates/auroraview-pack/src/common.rs
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/downloader.rs
  crates/auroraview-pack/src/error.rs
  crates/auroraview-pack/src/lib.rs
  crates/auroraview-pack/src/manifest.rs
  crates/auroraview-pack/src/packer.rs
  crates/auroraview-pack/tests/packer_tests.rs
  docs/guide/packing.md
  docs/zh/guide/packing.md
  examples/ai_chat_demo.py
  examples/test_cancel_fix.py
  examples/test_dependency_install.py
  examples/test_enhanced_progress.py
  gallery/backend/dependency_api.py
  gallery/backend/dependency_installer.py
  gallery/backend/process_api.py
  gallery/src/App.tsx
  gallery/src/components/DependencyModal.tsx
  gallery/src/hooks/useAuroraView.ts
  test_dependency_debug.py
  tests/python/unit/test_dependency_api.py
Due: none

fix: Fix Python 3.7 compatibility and CI workflow issues
  .github/workflows/mcp-ci.yml
  Cargo.lock
  crates/auroraview-pack/src/packer.rs
  gallery/backend/dependency_installer.py
Due: none

style: fix clippy warnings in packer.rs
  crates/auroraview-pack/src/packer.rs
Due: none

style: fix remaining clippy warnings in packer.rs
  crates/auroraview-pack/src/packer.rs
Due: none

test: fix unused variable warnings
  crates/auroraview-pack/tests/packer_tests.rs
Due: none

style: run cargo fmt on packer.rs
  crates/auroraview-pack/src/packer.rs
Due: none

test: fix failing packer tests
  crates/auroraview-pack/tests/packer_tests.rs
Due: none

fix(ci): resolve concurrency deadlock in reusable workflows
  .github/workflows/build-cli.yml
  .github/workflows/build-gallery.yml
  .github/workflows/build-wheels.yml
  .github/workflows/ci.yml
  .github/workflows/mcp-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/rust-crates-ci.yml
  .github/workflows/sdk-ci.yml
Due: none

feat(backend): implement WebViewBackend trait abstraction
  Cargo.lock
  crates/auroraview-core/src/backend/lifecycle.rs
  crates/auroraview-core/src/backend/message_processor.rs
  crates/auroraview-core/src/backend/mod.rs
  crates/auroraview-core/src/backend/traits.rs
  crates/auroraview-core/src/backend/wry_impl.rs
  docs/architecture/thread-safety-diagnosis.md
  docs/architecture/thread-safety-diagnosis_zh.md
  packages/auroraview-mcp/uv.lock
  src/webview/backend/mod.rs
  test_dependency_debug.py
  tests/rust/thread_safety_diagnosis_tests.rs
  tests/test_thread_safety_diagnosis.py
  uv.lock
Due: rust, Rust Core

refactor(backend): migrate NativeBackend to PyBindingsBackend trait
  crates/auroraview-core/src/backend/message_processor.rs
  crates/auroraview-core/src/backend/traits.rs
  src/webview/backend/native.rs
Due: rust, Rust Core

fix: resolve CI build errors in NativeBackend migration
  examples/ai_chat_demo.py
  examples/test_cancel_fix.py
  examples/test_dependency_install.py
  examples/test_enhanced_progress.py
  src/webview/backend/native.rs
  src/webview/webview_inner.rs
Due: rust, Rust Core

fix: resolve CI test failure and docs build error
  crates/auroraview-core/src/backend/lifecycle.rs
  docs/architecture/thread-safety-diagnosis.md
  docs/architecture/thread-safety-diagnosis_zh.md
Due: none

fix: escape all Arc<Mutex<WryWebView>> in docs to prevent HTML parsing errors
  docs/architecture/thread-safety-diagnosis.md
  docs/architecture/thread-safety-diagnosis_zh.md
Due: none
