Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

chore(deps): refresh frontend bun.lock files
  crates/auroraview-assets/frontend/bun.lock
  packages/auroraview-sdk/bun.lock
Due: none

feat(python): preserve capture_file_drop tri-state through to Rust binding
  docs/rfcs/0017-python-capture-file-drop-tristate_zh.md
  python/auroraview/__main__.py
  python/auroraview/core/config.py
  python/auroraview/core/factory.py
  python/auroraview/core/mixins/factory.py
  python/auroraview/integration/qt/_core.py
  src/bindings/desktop_runner.rs
Due: python, rust, Python Core, Rust Core

feat(browser): hard-disable capture_file_drop in multi-tab Browser mode
  crates/auroraview-browser/src/browser.rs
  crates/auroraview-browser/src/lib.rs
  crates/auroraview-browser/src/tab/manager.rs
  docs/rfcs/0016-browser-mode-disable-capture-file-drop_zh.md
  src/webview/tab_manager.rs
Due: rust, Rust Core

feat(webview): unify drag-drop registration via attach_drag_drop_handler
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/cli/pack.rs
  crates/auroraview-cli/src/cli/run.rs
  crates/auroraview-cli/src/main.rs
  crates/auroraview-cli/src/packed/webview/ipc.rs
  crates/auroraview-cli/src/packed/webview/mod.rs
  crates/auroraview-cli/tests/pack_args_tests.rs
  crates/auroraview-core/Cargo.toml
  crates/auroraview-core/src/builder/helpers.rs
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/tests/builder_helpers_tests.rs
  crates/auroraview-desktop/src/config.rs
  crates/auroraview-desktop/src/ipc/handler.rs
  crates/auroraview-desktop/src/window/builder.rs
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/manifest.rs
  docs/rfcs/0015-attach-drag-drop-helper_zh.md
  python/auroraview/core/config.py
  src/ipc/handler.rs
  src/webview/backend/native.rs
  src/webview/child_window.rs
  src/webview/config.rs
  src/webview/desktop/webview_builder.rs
Due: python, rust, Rust Core

fix(desktop): warn-once on missing drag-drop sink
  crates/auroraview-desktop/src/ipc/handler.rs
Due: none

feat(python): preserve capture-file-drop tristate
  python/auroraview/__main__.py
  python/auroraview/core/config.py
  scripts/ci/check_browser_no_drag_drop_capture.py
  scripts/ci/check_capture_file_drop_defaults.py
  tests/python/integration/test_capture_file_drop_passthrough.py
  tests/python/unit/test_capture_file_drop_tristate.py
  tests/python/unit/test_child_window_isolation.py
Due: python, Python Core

feat(core): add noop drag-drop sink and attach helper
  crates/auroraview-browser/src/lib.rs
  crates/auroraview-core/Cargo.toml
  crates/auroraview-core/src/builder/helpers.rs
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/tests/builder_helpers_tests.rs
  crates/auroraview-pack/src/lib.rs
  crates/auroraview-pack/tests/config_tests.rs
  crates/auroraview-pack/tests/manifest_tests.rs
  src/bindings/desktop_runner.rs
  src/webview/tab_manager.rs
Due: rust, Rust Core

docs(rfc): finalize 0013-0017 file-drop guide
  CHANGELOG.md
  crates/auroraview-assets/frontend/dist/.gitkeep
  docs/.vitepress/config.ts
  docs/rfcs/0013-default-file-drop-improve_zh.md
  docs/rfcs/0015-attach-drag-drop-helper_zh.md
  docs/rfcs/0016-browser-mode-disable-capture-file-drop_zh.md
  docs/rfcs/0017-python-capture-file-drop-tristate_zh.md
  docs/zh/guide/file-drop.md
  justfile
Due: none

feat(cli): tri-state capture-file-drop on run
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/cli/pack.rs
  crates/auroraview-cli/src/cli/run.rs
  crates/auroraview-cli/src/main.rs
  crates/auroraview-cli/src/packed/mod.rs
  crates/auroraview-cli/src/packed/webview/ipc.rs
  crates/auroraview-cli/tests/pack_args_tests.rs
  crates/auroraview-cli/tests/pack_merge_rule_tests.rs
  crates/auroraview-cli/tests/packed_env_var_tests.rs
  crates/auroraview-cli/tests/run_args_tests.rs
Due: none

fix(bindings): pass capture_file_drop arg in PyDesktopConfig tests
  src/bindings/runtime_desktop.rs
Due: rust, Rust Core

feat(python): thread capture_file_drop through all WebView entry points
  examples/dcc_integration_example.py
  examples/desktop_app_demo.py
  python/auroraview/api.py
  python/auroraview/core/factory.py
  python/auroraview/core/mixins/factory.py
  python/auroraview/core/webview.py
Due: python, Python Core

refactor(ipc): tighten PackedDragDropSink encapsulation and warn-once
  crates/auroraview-cli/src/packed/webview/ipc.rs
  crates/auroraview-cli/src/packed/webview/mod.rs
  crates/auroraview-desktop/src/ipc/handler.rs
Due: none

test(python): pin capture_file_drop kwarg on every public entry point
  CHANGELOG.md
  README.md
  README_zh.md
  tests/python/unit/test_capture_file_drop_tristate.py
Due: none

refactor(cli): extract resolve_flag_pair utility and inline drag-drop attachment
  CHANGELOG.md
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/cli/pack.rs
  crates/auroraview-cli/src/cli/run.rs
Due: none

feat(rust): expose capture_file_drop as Optional[bool] in PyO3 binding
  src/bindings/runtime_desktop.rs
  src/webview/core/main.rs
Due: rust, Rust Core

refactor: short-circuit DragDropEvent::Over in hot path
  crates/auroraview-core/src/builder/drag_drop.rs
  crates/auroraview-core/src/builder/helpers.rs
Due: none

refactor(ipc): replace warn-once linear scan with exhaustive match
  crates/auroraview-desktop/src/ipc/handler.rs
Due: none

refactor: apply rustfmt and ruff formatting
  crates/auroraview-browser/src/tab/manager.rs
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/cli/run.rs
  crates/auroraview-cli/tests/pack_merge_rule_tests.rs
  crates/auroraview-core/src/builder/helpers.rs
  crates/auroraview-core/tests/builder_helpers_tests.rs
  src/bindings/desktop_runner.rs
  src/webview/tab_manager.rs
  tests/python/integration/test_capture_file_drop_passthrough.py
  tests/python/unit/test_capture_file_drop_tristate.py
Due: rust, Rust Core

docs: standardize RFC filenames and update file-drop docs
  CHANGELOG.md
  docs/rfcs/0013-default-file-drop-improve.md
  docs/rfcs/0013-default-file-drop-improve_zh.md
  docs/rfcs/0014-workspace-dep-wry-tao.md
  docs/rfcs/0014-workspace-dep-wry-tao_zh.md
  docs/rfcs/0015-attach-drag-drop-helper.md
  docs/rfcs/0015-attach-drag-drop-helper_zh.md
  docs/rfcs/0016-browser-mode-disable-capture-file-drop.md
  docs/rfcs/0016-browser-mode-disable-capture-file-drop_zh.md
  docs/rfcs/0017-python-capture-file-drop-tristate.md
  docs/rfcs/0017-python-capture-file-drop-tristate_zh.md
  docs/zh/guide/file-drop.md
Due: none

refactor: introduce skip_drag_drop_capture helper and PackConfig::skeleton
  crates/auroraview-browser/src/browser.rs
  crates/auroraview-browser/src/lib.rs
  crates/auroraview-browser/src/tab/manager.rs
  crates/auroraview-core/Cargo.toml
  crates/auroraview-core/src/builder/helpers.rs
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-pack/src/config.rs
  src/webview/tab_manager.rs
Due: rust, Rust Core

feat: add --no-capture-file-drop flag and harden flag pair resolver
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/cli/run.rs
  crates/auroraview-cli/src/packed/mod.rs
  crates/auroraview-cli/src/packed/webview/ipc.rs
  crates/auroraview-cli/src/packed/webview/mod.rs
  crates/auroraview-cli/tests/flag_pair_tests.rs
  crates/auroraview-core/src/constants.rs
  crates/auroraview-core/src/lib.rs
  python/auroraview/__main__.py
  src/bindings/desktop_runner.rs
  tests/python/integration/test_cli_main.py
Due: python, rust, Python Core, Rust Core

test: add drag-drop sink and config integration tests
  crates/auroraview-cli/tests/pack_args_tests.rs
  crates/auroraview-cli/tests/packed_env_var_tests.rs
  crates/auroraview-cli/tests/run_args_tests.rs
  crates/auroraview-desktop/tests/dragdrop_sink_tests.rs
  scripts/unsafe_allowlist.txt
  tests/rust/config_integration_tests.rs
Due: none

fix(cli): use cfg-gated panic instead of debug_assert in resolve_flag_pair
  crates/auroraview-cli/src/cli/mod.rs
Due: none

fix(core): prevent port collision in service_discovery CDP test
  crates/auroraview-core/tests/service_discovery_tests.rs
Due: none

chore(assets): add build.rs fallback for missing frontend/dist
  crates/auroraview-assets/Cargo.toml
  crates/auroraview-assets/build.rs
Due: none

test: add IPC drag-drop sink and capture_file_drop config tests
  src/ipc/handler.rs
  src/webview/config.rs
  tests/python/unit/test_capture_file_drop_tristate.py
Due: rust, Rust Core

refactor: harden drag-drop pipeline and centralize shared utilities
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/packed/webview/ipc.rs
  crates/auroraview-cli/src/packed/webview/mod.rs
  crates/auroraview-core/src/builder/helpers.rs
  crates/auroraview-core/src/constants.rs
  crates/auroraview-desktop/Cargo.toml
  crates/auroraview-desktop/src/ipc/handler.rs
  crates/auroraview-desktop/src/ipc/mod.rs
  crates/auroraview-desktop/src/lib.rs
  scripts/ci/check_browser_no_drag_drop_capture.py
  tests/python/unit/test_capture_file_drop_tristate.py
Due: none

docs: update llms.txt, CHANGELOG and add file-drop example
  CHANGELOG.md
  examples/desktop_app_capture_file_drop.py
  llms-full.txt
  llms.txt
Due: none

Path conditions:
  python: any of: python/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  rust: any of: src/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Python Core: any of: python/auroraview/*.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Rust Core: any of: src/**/*.rs, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Qt Integration: any of: python/auroraview/qt_integration.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
