Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

feat(ai-agent): add AI Agent + CDP integration documentation and examples
  crates/auroraview-ai-agent/Cargo.toml
  crates/auroraview-ai-agent/src/actions/mod.rs
  crates/auroraview-ai-agent/src/actions/registry.rs
  crates/auroraview-ai-agent/src/agent.rs
  crates/auroraview-ai-agent/src/assets/ai_browser.html
  crates/auroraview-ai-agent/src/error.rs
  crates/auroraview-ai-agent/src/lib.rs
  crates/auroraview-ai-agent/src/message.rs
  crates/auroraview-ai-agent/src/protocol/a2ui.rs
  crates/auroraview-ai-agent/src/protocol/agui.rs
  crates/auroraview-ai-agent/src/protocol/mod.rs
  crates/auroraview-ai-agent/src/providers/mod.rs
  crates/auroraview-ai-agent/src/providers/types.rs
  crates/auroraview-ai-agent/src/providers/wrapper.rs
  crates/auroraview-ai-agent/src/session.rs
  crates/auroraview-ai-agent/src/ui/mod.rs
  crates/auroraview-ai-agent/tests/agent_tests.rs
  crates/auroraview-ai-agent/tests/protocol_tests.rs
  docs/.vitepress/config.ts
  docs/guide/ai-agent-cdp.md
  docs/rfcs/0008-ai-agent-integration.md
  docs/rfcs/0008-ai-agent-integration_zh.md
  docs/rfcs/0009-ai-chat-ui-integration.md
  docs/zh/guide/ai-agent-cdp.md
  examples/ai_cdp_integration.py
  gallery/backend/ai_api.py
  gallery/src/components/AISidebar.tsx
  gallery/src/hooks/useAIAgent.ts
  gallery/src/types/ai.ts
  packages/auroraview-mcp/README.md
  packages/auroraview-mcp/README_zh.md
  python/auroraview/ai/__init__.py
  python/auroraview/ai/agent.py
  python/auroraview/ai/config.py
  python/auroraview/ai/protocol.py
  python/auroraview/ai/tools.py
Due: python

docs: fix chrome-devtools MCP config and add Playwright MCP integration
  docs/guide/ai-agent-cdp.md
  docs/zh/guide/ai-agent-cdp.md
Due: none

fix: SDK tests and Rust clippy lint issues
  packages/auroraview-sdk/src/core/bridge.ts
  packages/auroraview-sdk/tests/sdk.test.ts
  src/webview/features.rs
Due: rust, Rust Core

fix: add missing parameters to QtWebView.create_deferred()
  crates/auroraview-ai-agent/src/actions/mod.rs
  crates/auroraview-ai-agent/src/protocol/a2ui.rs
  crates/auroraview-ai-agent/src/protocol/mod.rs
  crates/auroraview-ai-agent/src/providers/wrapper.rs
  crates/auroraview-ai-agent/src/session.rs
  crates/auroraview-ai-agent/tests/protocol_tests.rs
  crates/auroraview-cli/src/packed/backend.rs
  crates/auroraview-cli/src/packed/extract.rs
  crates/auroraview-cli/src/packed/utils.rs
  crates/auroraview-cli/src/packed/webview.rs
  crates/auroraview-cli/tests/packed_tests.rs
  gallery/main.py
  packages/auroraview-sdk/test-results/results.json
  python/auroraview/core/packed.py
  python/auroraview/integration/qt/_core.py
  src/webview/backend/native.rs
  src/webview/event_loop.rs
  src/webview/webview_inner.rs
Due: python, rust, Rust Core

fix: resolve ruff lint errors (B904, I001)
  python/auroraview/ai/agent.py
  python/auroraview/ai/protocol.py
  python/auroraview/ai/tools.py
  python/auroraview/core/packed.py
Due: python

fix: mock _load_tab_webview in test_navigate to avoid native lib dependency
  tests/python/unit/test_tab_container.py
Due: none

fix: skip test_showevent_auto_initialization in CI to avoid WebView2 crash
  tests/python/integration/test_qt_backend.py
Due: none

fix: use tempfile for bookmark tests to ensure isolated state
  crates/auroraview-browser/tests/bookmarks_tests.rs
Due: none

docs: add llms.txt and llms-full.txt following llmstxt.org protocol
  llms-full.txt
  llms.txt
Due: none

feat(sdk): add feature detection and window management APIs
  docs/guide/sdk-features.md
  docs/guide/window-management.md
  docs/zh/guide/sdk-features.md
  docs/zh/guide/window-management.md
  packages/auroraview-sdk/src/features.ts
  packages/auroraview-sdk/src/index.ts
  packages/auroraview-sdk/src/window.ts
  python/auroraview/__init__.py
  python/auroraview/core/__init__.py
  python/auroraview/core/window_api.py
Due: python, Python Core

feat(api): auto-enable window API in create_webview()
  docs/guide/window-management.md
  docs/zh/guide/window-management.md
  python/auroraview/api.py
Due: python, Python Core

docs: update llms.txt with SDK features and window management APIs
  llms.txt
Due: none

fix(sdk): fix TypeScript type conversion in features.ts
  packages/auroraview-sdk/src/features.ts
Due: none

style: format window_api.py with ruff
  python/auroraview/core/window_api.py
Due: python

fix: update repository URL and SDK package name references
  crates/auroraview-devtools/Cargo.toml
  crates/auroraview-downloads/Cargo.toml
  crates/auroraview-history/Cargo.toml
  crates/auroraview-tabs/Cargo.toml
  docs/guides/logging-and-error-handling.md
  docs/zh/guides/logging-and-error-handling.md
Due: none

fix: resolve CI failures for TypeScript and submodule migration
  crates/auroraview-protect/.gitignore
  crates/auroraview-protect/Cargo.toml
  crates/auroraview-protect/LICENSE
  crates/auroraview-protect/README.md
  crates/auroraview-protect/src/ast_obfuscator.rs
  crates/auroraview-protect/src/bytecode.rs
  crates/auroraview-protect/src/config.rs
  crates/auroraview-protect/src/crypto.rs
  crates/auroraview-protect/src/error.rs
  crates/auroraview-protect/src/lib.rs
  crates/auroraview-protect/src/obfuscator.rs
  crates/auroraview-protect/src/protector.rs
  crates/auroraview-protect/src/runtime_gen.rs
  crates/auroraview-protect/tests/bytecode_integration_test.rs
  packages/auroraview-sdk/src/components/AgentSidebar.tsx
Due: none

fix: add frontend assets build steps to CI workflows
  .github/workflows/pr-checks.yml
  packages/auroraview-sdk/src/components/AgentSidebar.tsx
Due: none

fix: add frontend assets build to all CI workflows that compile Rust
  .github/actions/build-wheel/action.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-gallery.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

fix: resolve unit test failures in cookies and settings serialization
  python/auroraview/core/cookies.py
  python/auroraview/core/settings.py
  python/auroraview/features/serializable.py
Due: python

fix: make pack output executable name platform-aware
  crates/auroraview-pack/src/builder/win.rs
Due: none

style: fix ruff import sorting and clippy warnings
  python/auroraview/integration/qt/embedding.py
  python/auroraview/integration/qt/lifecycle.py
  python/auroraview/utils/thread_dispatcher/registry.py
  src/bindings/runtime_dcc.rs
  src/bindings/runtime_desktop.rs
Due: python, rust, Rust Core

fix: resolve CI failures - unused import and formatting
  crates/auroraview-dcc/src/window_manager.rs
  python/auroraview/utils/thread_dispatcher/registry.py
Due: python

fix: correct variable name in window_manager_tests.rs
  crates/auroraview-dcc/tests/window_manager_tests.rs
Due: none

fix: resolve CI failures in auroraview-pack and standalone tests
  crates/auroraview-pack/src/packer/mod.rs
  crates/auroraview-pack/src/packer/registry.rs
  tests/rust/standalone_integration_tests.rs
Due: none

fix: remove unnecessary `mut` from fs_scope in auroraview-cli
  crates/auroraview-cli/src/packed/webview.rs
Due: none

Path conditions:
  python: any of: python/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  rust: any of: src/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Python Core: any of: python/auroraview/*.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Rust Core: any of: src/**/*.rs, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Qt Integration: any of: python/auroraview/qt_integration.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
