Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

ci: add Rust coverage reporting to CI with cargo-llvm-cov
  .github/actions/build-and-test/action.yml
  .github/workflows/ci.yml
  .gitignore
Due: none

test: add edge case tests for URI format coverage
  tests/protocol_handlers_integration_tests.rs
Due: none

feat: add allow_file_protocol parameter for local resource loading
  python/auroraview/qt_integration.py
  python/auroraview/webview.py
  src/webview/aurora_view.rs
Due: python, rust, Python Core, Rust Core, Qt Integration

refactor: remove debug file logging, use tracing instead
  src/webview/backend/native.rs
  src/webview/protocol_handlers.rs
Due: rust, Rust Core

test: add fallback path coverage test, adjust codecov config
  .codecov.yml
  tests/protocol_handlers_integration_tests.rs
Due: none

docs: add custom protocol best practices and security documentation
  .gitignore
  Cargo.lock
  README.md
  README_zh.md
  examples/custom_protocol_example.py
  python/auroraview/qt_integration.py
  python/auroraview/webview.py
  src/webview/backend/native.rs
  src/webview/protocol_handlers.rs
  uv.lock
Due: python, rust, Python Core, Rust Core, Qt Integration

ci: adjust codecov config for GUI-dependent code
  .codecov.yml
Due: none

test: add integration tests for Windows localhost URL formats
  src/webview/protocol_handlers.rs
  tests/protocol_handlers_integration_tests.rs
Due: rust, Rust Core

fix: use Optional[] instead of | union syntax for Python 3.7 compatibility
  examples/maya_qt_echo_demo.py
  python/auroraview/framework.py
  python/auroraview/qt_integration.py
Due: python, Python Core, Qt Integration

docs: add run_standalone examples for local resource loading
  README.md
  README_zh.md
Due: none

feat: add window maximization when width/height is 0
  Cargo.lock
  src/bindings/standalone_runner.rs
  src/webview/standalone.rs
  tests/standalone_integration_tests.rs
  tests/test_standalone_runner.py
  uv.lock
Due: rust, Rust Core

test: add unit tests for standalone runner and config
  src/bindings/standalone_runner.rs
  src/webview/standalone.rs
Due: rust, Rust Core

feat: auto-convert relative paths to auroraview:// protocol and add always_on_top
  Cargo.lock
  python/auroraview/__main__.py
  python/auroraview/webview.py
  src/bindings/cli_utils.rs
  src/bindings/standalone_runner.rs
  src/webview/aurora_view.rs
  src/webview/webview_inner.rs
  tests/test_cli_main.py
  tests/test_custom_protocol.py
  uv.lock
Due: python, rust, Python Core, Rust Core

test: improve test coverage from 60% to 74%
  tests/test_bridge.py
  tests/test_cli_main.py
  tests/test_framework.py
  tests/test_init_module.py
  tests/test_testing_module.py
Due: none

build: add websockets to test dependencies
  pyproject.toml
  tests/test_bridge.py
  tests/test_init_module.py
  tests/test_testing_module.py
Due: none

test: add comprehensive unit tests for Rust modules to improve coverage
  Cargo.lock
  src/bindings/cli_utils.rs
  src/bindings/ipc_metrics.rs
  src/bindings/timer.rs
  src/ipc/backend.rs
  src/ipc/batch.rs
  src/webview/loading.rs
  src/webview/message_pump.rs
  src/window_utils.rs
Due: rust, Rust Core

fix: improve CI test stability
  python/auroraview/bridge.py
  tests/test_cli_main.py
  tests/timer_integration_tests.rs
Due: python, Python Core

feat(dom): add comprehensive DOM manipulation module
  python/auroraview/__init__.py
  python/auroraview/automation.py
  python/auroraview/dom.py
  python/auroraview/webview.py
  tests/test_dom.py
Due: python, Python Core

docs: deep comparison between AuroraView and PyWebView
  docs/COMPARISON_WITH_PYWEBVIEW.md
Due: none

docs: update comparison with comprehensive DOM API section
  docs/COMPARISON_WITH_PYWEBVIEW.md
Due: none

feat(dom): add Rust-native DOM batch operations for high performance
  python/auroraview/__init__.py
  src/dom/mod.rs
  src/dom/ops.rs
  src/lib.rs
  tests/test_dom.py
Due: python, rust, Python Core, Rust Core

ci: ignore mod.rs files in coverage reports
  .codecov.yml
Due: none

style: fix ruff lint issues
  python/auroraview/__init__.py
  python/auroraview/automation.py
  python/auroraview/dom.py
  tests/test_dom.py
Due: python, Python Core

style: fix ruff lint issues
  python/auroraview/automation.py
  python/auroraview/dom.py
  tests/test_dom.py
Due: python, Python Core

fix: Python 3.7 compatibility and format test file
  python/auroraview/automation.py
  tests/test_cli_main.py
Due: python, Python Core

feat(testing): add DOM-based testing framework
  python/auroraview/testing/__init__.py
  python/auroraview/testing/dom_assertions.py
  python/auroraview/testing/headless.py
  python/auroraview/testing/webview_bot.py
Due: python

test(dom): add comprehensive tests for all DomBatch operations
  src/dom/ops.rs
Due: rust, Rust Core

fix(tests): update tests for DOM API migration
  src/dom/ops.rs
  tests/test_testing_framework.py
  tests/test_testing_module.py
Due: rust, Rust Core
