Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

fix: use allow(unused_variables) instead of underscore prefix for platform-specific vars
  crates/auroraview-extensions/src/view_manager.rs
Due: none

fix(ci): install Linux runtime libs unconditionally in gallery-pack
  .github/workflows/pr-checks.yml
Due: none

feat: add window effects APIs (click-through, vibrancy)
  Cargo.lock
  crates/auroraview-core/Cargo.toml
  crates/auroraview-core/src/builder/click_through.rs
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/src/builder/vibrancy.rs
  crates/auroraview-core/tests/click_through_tests.rs
  crates/auroraview-core/tests/vibrancy_tests.rs
  docs/guide/window-effects.md
  examples/window_effects_demo.py
  gallery/backend/config.py
  gallery/package-lock.json
  packages/auroraview-sdk/src/index.ts
  packages/auroraview-sdk/src/inject/plugins/interactive.ts
  src/lib.rs
  src/webview/core/effects.rs
  src/webview/core/mod.rs
  src/webview/mod.rs
  uv.lock
Due: rust, Rust Core

docs: clarify three integration modes and add gallery screenshots
  docs/.vitepress/config.ts
  docs/api/index.md
  docs/dcc/blender.md
  docs/dcc/index.md
  docs/guide/architecture.md
  docs/guide/gallery.md
  docs/guide/getting-started.md
  docs/guide/window-effects.md
  docs/index.md
  docs/package-lock.json
  docs/public/gallery/api_patterns.png
  docs/public/gallery/getting_started.png
  docs/public/gallery/main.png
  docs/public/gallery/settings.png
  docs/public/gallery/window_features.png
  docs/zh/api/index.md
  docs/zh/guide/architecture.md
  docs/zh/guide/gallery.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/window-effects.md
  docs/zh/index.md
  justfile
  scripts/test_gallery_e2e.py
  src/webview/core/effects.rs
Due: rust, Rust Core

feat(docs): auto-generate examples documentation from examples/ directory
  .gitignore
  docs/.vitepress/config.ts
  docs/.vitepress/hooks/generate-examples.ts
  docs/guide/examples.md
  docs/package.json
  docs/public/examples/child_aware_demo.png
  docs/public/examples/child_window_demo.png
  docs/public/examples/cookie_management_demo.png
  docs/public/examples/custom_context_menu_demo.png
  docs/public/examples/desktop_app_demo.png
  docs/public/examples/desktop_events_demo.png
  docs/public/examples/dom_manipulation_demo.png
  docs/public/examples/dynamic_binding.png
  docs/public/examples/floating_panel_demo.png
  docs/public/examples/local_assets_example.png
  docs/public/examples/logo_button_demo.png
  docs/public/examples/multi_window_demo.png
  docs/public/examples/native_menu_demo.png
  docs/public/examples/signals_advanced_demo.png
  docs/public/examples/simple_decorator.png
  docs/public/examples/system_tray_demo.png
  docs/public/examples/window_effects_demo.png
  docs/public/examples/window_events_demo.png
  docs/zh/guide/examples.md
  justfile
  scripts/screenshot_examples.py
Due: none

fix(sdk): fix TypeScript type conversion error in attachPlugin
  packages/auroraview-sdk/src/inject/plugins/utils.ts
Due: none

fix(ci): remove duplicate PR trigger from sdk-ci.yml
  .github/workflows/sdk-ci.yml
Due: none

fix: suppress dead_code warnings for platform-specific code
  crates/auroraview-core/src/builder/click_through.rs
  crates/auroraview-core/src/builder/vibrancy.rs
Due: none

docs: add design philosophy, advanced usage, SDK guide and contributing docs
  docs/.vitepress/config.ts
  docs/guide/advanced-usage.md
  docs/guide/contributing.md
  docs/guide/design-philosophy.md
  docs/guide/typescript-sdk.md
  docs/zh/guide/contributing.md
  docs/zh/guide/design-philosophy.md
  docs/zh/guide/typescript-sdk.md
Due: none

fix(docs): fix dead links and incorrect references
  docs/guide/contributing.md
  docs/zh/guide/advanced-usage.md
  docs/zh/guide/contributing.md
  docs/zh/guide/typescript-sdk.md
Due: none

feat(testing): add Midscene bridge JS injection via Rust assets
  crates/auroraview-core/src/assets.rs
  crates/auroraview-core/src/assets/js/features/midscene_bridge.js
  crates/auroraview-core/tests/assets_tests.rs
  python/auroraview/testing/__init__.py
  python/auroraview/testing/midscene.py
  src/bindings/assets.rs
  src/bindings/mod.rs
  src/lib.rs
  src/webview/js_assets.rs
  tests/test_testing_framework.py
Due: python, rust, Rust Core

fix(testing): add missing testing modules and UTF-8 encoding
  python/auroraview/testing/decorators.py
  python/auroraview/testing/generators.py
  python/auroraview/testing/midscene.py
  python/auroraview/testing/property_testing.py
  python/auroraview/testing/snapshot.py
Due: python

fix(testing): remove unused variable tag in midscene.py
  python/auroraview/testing/midscene.py
Due: python

fix(testing): add UTF-8 encoding declaration to all testing modules
  python/auroraview/testing/decorators.py
  python/auroraview/testing/generators.py
  python/auroraview/testing/property_testing.py
  python/auroraview/testing/snapshot.py
Due: python

test: add coverage for js_assets.rs and bindings/assets.rs
  tests/rust/standalone_integration_tests.rs
  tests/test_testing_framework.py
Due: none

test: add comprehensive tests for testing framework modules
  tests/python/unit/test_testing_modules.py
Due: none

fix: format rust code and use urlparse for URL validation
  tests/python/unit/test_testing_modules.py
  tests/rust/standalone_integration_tests.rs
Due: none

test: enhance coverage for testing modules with additional code paths
  tests/python/unit/test_testing_modules.py
Due: none

fix: remove unused os import
  tests/python/unit/test_testing_modules.py
Due: none

chore: ignore test-screenshots directory
  .gitignore
Due: none

docs: add browser automation and example demos sections to testing framework guide
  docs/guide/testing-framework.md
  docs/zh/guide/testing-framework.md
Due: none

test: add comprehensive tests for midscene, property_testing, and snapshot modules
  tests/python/unit/test_testing_modules.py
Due: none
