Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

fix: keep _is_closing True after closeEvent
  python/auroraview/integration/qt/lifecycle.py
Due: python

fix: add frontend assets build steps to CI workflows
  .github/workflows/pr-checks.yml
  packages/auroraview-sdk/src/components/AgentSidebar.tsx
Due: none

style: fix ruff import sorting and clippy warnings
  python/auroraview/integration/qt/embedding.py
  python/auroraview/integration/qt/lifecycle.py
  python/auroraview/utils/thread_dispatcher/registry.py
  src/bindings/runtime_dcc.rs
  src/bindings/runtime_desktop.rs
Due: python, rust, Rust Core

fix: add frontend assets build to all CI workflows that compile Rust
  .github/actions/build-wheel/action.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-gallery.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

fix: resolve CI failures for TypeScript and submodule migration
  crates/auroraview-protect/.gitignore
  crates/auroraview-protect/Cargo.toml
  crates/auroraview-protect/LICENSE
  crates/auroraview-protect/README.md
  crates/auroraview-protect/src/ast_obfuscator.rs
  crates/auroraview-protect/src/bytecode.rs
  crates/auroraview-protect/src/config.rs
  crates/auroraview-protect/src/crypto.rs
  crates/auroraview-protect/src/error.rs
  crates/auroraview-protect/src/lib.rs
  crates/auroraview-protect/src/obfuscator.rs
  crates/auroraview-protect/src/protector.rs
  crates/auroraview-protect/src/runtime_gen.rs
  crates/auroraview-protect/tests/bytecode_integration_test.rs
  packages/auroraview-sdk/src/components/AgentSidebar.tsx
Due: none

fix(sdk): fix TypeScript type conversion in features.ts
  packages/auroraview-sdk/src/features.ts
Due: none

fix: update repository URL and SDK package name references
  crates/auroraview-devtools/Cargo.toml
  crates/auroraview-downloads/Cargo.toml
  crates/auroraview-history/Cargo.toml
  crates/auroraview-tabs/Cargo.toml
  docs/guides/logging-and-error-handling.md
  docs/zh/guides/logging-and-error-handling.md
Due: none

fix: remove unnecessary `mut` from fs_scope in auroraview-cli
  crates/auroraview-cli/src/packed/webview.rs
Due: none

feat(api): auto-enable window API in create_webview()
  docs/guide/window-management.md
  docs/zh/guide/window-management.md
  python/auroraview/api.py
Due: python, Python Core

fix: resolve CI failures - unused import and formatting
  crates/auroraview-dcc/src/window_manager.rs
  python/auroraview/utils/thread_dispatcher/registry.py
Due: python

docs: update llms.txt with SDK features and window management APIs
  llms.txt
Due: none

fix: resolve unit test failures in cookies and settings serialization
  python/auroraview/core/cookies.py
  python/auroraview/core/settings.py
  python/auroraview/features/serializable.py
Due: python

feat(sdk): add feature detection and window management APIs
  docs/guide/sdk-features.md
  docs/guide/window-management.md
  docs/zh/guide/sdk-features.md
  docs/zh/guide/window-management.md
  packages/auroraview-sdk/src/features.ts
  packages/auroraview-sdk/src/index.ts
  packages/auroraview-sdk/src/window.ts
  python/auroraview/__init__.py
  python/auroraview/core/__init__.py
  python/auroraview/core/window_api.py
Due: python, Python Core

fix: make pack output executable name platform-aware
  crates/auroraview-pack/src/builder/win.rs
Due: none

style: format window_api.py with ruff
  python/auroraview/core/window_api.py
Due: python

fix: correct variable name in window_manager_tests.rs
  crates/auroraview-dcc/tests/window_manager_tests.rs
Due: none

fix: resolve CI failures in auroraview-pack and standalone tests
  crates/auroraview-pack/src/packer/mod.rs
  crates/auroraview-pack/src/packer/registry.rs
  tests/rust/standalone_integration_tests.rs
Due: none

fix: resolve dependency API breakage for ureq 3.x and image 0.25
  CHANGELOG.md
  Cargo.lock
  crates/auroraview-core/src/icon/compress.rs
  crates/auroraview-core/src/icon/converter.rs
  crates/auroraview-core/src/icon/loader.rs
  crates/auroraview-pack/src/downloader.rs
  crates/auroraview-pack/src/vx_tool.rs
Due: none

style: fix rustfmt formatting in vx_tool.rs
  crates/auroraview-pack/src/vx_tool.rs
Due: none

ci: fix npm authentication and PyPI publishing issues
  .github/workflows/build-wheels.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  Cargo.lock
Due: none

docs: update CI pipeline documentation with release workflow details
  docs/contributing/ci-pipeline-zh.md
  docs/contributing/ci-pipeline.md
Due: none

fix: add publishConfig for scoped npm package and enhanced diagnostics
  .github/workflows/release.yml
  packages/auroraview-sdk/package.json
Due: none

ci: remove ARM64 wheel builds and improve npm publish diagnostics
  .github/workflows/build-wheels.yml
  .github/workflows/release.yml
  docs/contributing/ci-pipeline-zh.md
  docs/contributing/ci-pipeline.md
Due: none

fix: skip _core.pyd check in packed mode & feat: add auroraview-telemetry crate
  .github/workflows/rust-crates-ci.yml
  Cargo.lock
  Cargo.toml
  crates/auroraview-telemetry/Cargo.toml
  crates/auroraview-telemetry/src/config.rs
  crates/auroraview-telemetry/src/error.rs
  crates/auroraview-telemetry/src/guard.rs
  crates/auroraview-telemetry/src/lib.rs
  crates/auroraview-telemetry/src/metrics.rs
  crates/auroraview-telemetry/src/provider.rs
  crates/auroraview-telemetry/src/span_ext.rs
  crates/auroraview-telemetry/tests/config_tests.rs
  crates/auroraview-telemetry/tests/error_tests.rs
  crates/auroraview-telemetry/tests/guard_tests.rs
  crates/auroraview-telemetry/tests/metrics_tests.rs
  docs/guide/telemetry.md
  docs/zh/guide/telemetry.md
  python/auroraview/core/webview.py
  tests/python/unit/test_webview_packed_init.py
Due: python

style: apply cargo fmt to telemetry crate
  crates/auroraview-telemetry/src/metrics.rs
  crates/auroraview-telemetry/src/provider.rs
Due: none

refactor(pack): use vx to manage rcedit instead of manual download
  crates/auroraview-pack/src/resource_editor.rs
  vx.toml
Due: none

fix(pack): use ureq for downloads, fix vx release URL pattern
  crates/auroraview-pack/src/python_standalone.rs
  crates/auroraview-pack/src/vx_tool.rs
Due: none

feat: add telemetry stack and migrate pre-commit to vx prek
  $null
  .githooks/pre-commit
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/auroraview-telemetry/Cargo.toml
  crates/auroraview-telemetry/src/lib.rs
  crates/auroraview-telemetry/src/python.rs
  crates/auroraview-telemetry/tests/error_tests.rs
  crates/auroraview-telemetry/tests/guard_tests.rs
  crates/auroraview-telemetry/tests/metrics_tests.rs
  docs/guide/telemetry.md
  docs/zh/guide/telemetry.md
  gallery/backend/__init__.py
  gallery/backend/telemetry_api.py
  gallery/main.py
  gallery/pnpm-lock.yaml
  gallery/src/App.tsx
  gallery/src/components/AnimatedSidebar.tsx
  gallery/src/components/TelemetryPanel.tsx
  gallery/src/hooks/useAuroraView.ts
  justfile
  packages/auroraview-mcp/src/auroraview_mcp/resources/providers.py
  packages/auroraview-mcp/src/auroraview_mcp/server.py
  packages/auroraview-mcp/src/auroraview_mcp/tools/telemetry.py
  python/auroraview/core/mixins/__init__.py
  python/auroraview/core/mixins/api.py
  python/auroraview/core/mixins/content.py
  python/auroraview/core/mixins/events.py
  python/auroraview/core/mixins/javascript.py
  python/auroraview/core/mixins/telemetry.py
  python/auroraview/core/webview.py
  python/auroraview/telemetry.py
  src/lib.rs
  tests/python/unit/test_auto_telemetry.py
  tests/python/unit/test_telemetry.py
  uv.lock
Due: python, rust, Python Core, Rust Core
