Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

ci: reduce duplicate CI runs on main branch push
  .github/workflows/build-cli.yml
  .github/workflows/build-wheels.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Due: none

docs: add Python 3.7 Windows CLI workaround for uv/uvx
  README.md
  README_zh.md
  docs/CLI.md
Due: none

feat: add native file drop events and shell plugin enhancements
  Cargo.lock
  README.md
  README_zh.md
  crates/auroraview-core/src/assets/js/bom/file_drop.js
  crates/auroraview-core/src/assets/js/plugins/shell.js
  crates/auroraview-plugins/src/shell.rs
  examples/desktop_app_demo.py
  examples/desktop_events_demo.py
  llms.txt
  python/auroraview/core/events.py
  src/webview/standalone.rs
Due: python, rust, Rust Core

test: add unit tests for shell plugin and standalone config
  crates/auroraview-plugins/src/shell.rs
  src/webview/standalone.rs
Due: rust, Rust Core

refactor: extract shared WebView builder logic to auroraview-core
  Cargo.lock
  Cargo.toml
  crates/auroraview-core/Cargo.toml
  crates/auroraview-core/src/builder/drag_drop.rs
  crates/auroraview-core/src/builder/helpers.rs
  crates/auroraview-core/src/builder/ipc.rs
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/src/builder/protocol.rs
  crates/auroraview-core/src/lib.rs
  src/webview/backend/native.rs
  src/webview/standalone.rs
Due: rust, Rust Core

refactor: extract more shared WebView builder logic to auroraview-core
  crates/auroraview-core/src/builder/com_init.rs
  crates/auroraview-core/src/builder/common_config.rs
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/src/builder/web_context.rs
  crates/auroraview-core/src/builder/window_style.rs
  src/webview/backend/native.rs
  src/webview/standalone.rs
Due: rust, Rust Core

fix: correct dev_tools default test assertion
  src/webview/standalone.rs
Due: rust, Rust Core

refactor: rename standalone to desktop with backward compatibility
  python/auroraview/__init__.py
  src/bindings/desktop_runner.rs
  src/bindings/mod.rs
  src/lib.rs
  src/webview/backend/native.rs
  src/webview/desktop.rs
  src/webview/mod.rs
Due: python, rust, Python Core, Rust Core

fix: add cfg(windows) for platform-specific imports
  src/webview/backend/native.rs
  src/webview/desktop.rs
Due: rust, Rust Core

fix: init_com_sta available on all platforms
  src/webview/desktop.rs
Due: rust, Rust Core

fix: resolve fmt issues and add tests for builder module
  crates/auroraview-core/Cargo.toml
  crates/auroraview-core/src/builder/drag_drop.rs
  crates/auroraview-core/src/builder/helpers.rs
  crates/auroraview-core/src/builder/ipc.rs
  crates/auroraview-core/src/icon/mod.rs
  crates/auroraview-core/src/signals.rs
  src/webview/backend/native.rs
  src/webview/desktop.rs
Due: rust, Rust Core

ci: add makeLatest flag to ensure correct release ordering
  .github/workflows/release.yml
Due: none

docs: add new features documentation (Gallery, System Tray, Floating Panels, Plugin System)
  README.md
  README_zh.md
  llms.txt
Due: none

fix: add cfg guards for Windows-only code paths
  src/bindings/desktop_runner.rs
  src/webview/core/main.rs
Due: rust, Rust Core

fix: add libxdo-dev dependency for Linux builds and fix dead_code warning
  .github/actions/build-wheel/action.yml
  .github/actions/setup-auroraview/action.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-gallery.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  src/bindings/desktop_runner.rs
  src/webview/webview_inner.rs
Due: rust, Rust Core

fix: update wry WebViewBuilder API from with_web_context to new_with_web_context
  crates/auroraview-pack/templates/main_frontend.rs.txt
  crates/auroraview-pack/templates/main_fullstack.rs.txt
  crates/auroraview-pack/templates/main_url.rs.txt
Due: none

feat(pack): add standalone Python runtime bundling strategy
  .gitignore
  Cargo.lock
  README.md
  README_zh.md
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-cli/src/cli/icon.rs
  crates/auroraview-cli/src/cli/info.rs
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/cli/pack.rs
  crates/auroraview-cli/src/cli/run.rs
  crates/auroraview-cli/src/main.rs
  crates/auroraview-cli/src/packed.rs
  crates/auroraview-pack/Cargo.toml
  crates/auroraview-pack/src/bundle.rs
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/error.rs
  crates/auroraview-pack/src/generator.rs
  crates/auroraview-pack/src/lib.rs
  crates/auroraview-pack/src/license.rs
  crates/auroraview-pack/src/manifest.rs
  crates/auroraview-pack/src/overlay.rs
  crates/auroraview-pack/src/packer.rs
  crates/auroraview-pack/src/pyembed_integration.rs
  crates/auroraview-pack/src/pyoxidizer.rs
  crates/auroraview-pack/src/python_standalone.rs
  crates/auroraview-pack/src/templates.rs
  crates/auroraview-pack/templates/cargo_toml.txt
  crates/auroraview-pack/templates/cargo_toml_pyembed.txt
  crates/auroraview-pack/templates/main_frontend.rs.txt
  crates/auroraview-pack/templates/main_fullstack.rs.txt
  crates/auroraview-pack/templates/main_url.rs.txt
  crates/auroraview-pack/tests/generator_tests.rs
  gallery/auroraview.pack.toml
  gallery/main.py
  justfile
Due: none

feat(pack): add standalone Python runtime bundling strategy
  crates/auroraview-cli/src/cli/info.rs
  crates/auroraview-cli/src/cli/pack.rs
  crates/auroraview-cli/src/cli/run.rs
  crates/auroraview-cli/src/packed.rs
  crates/auroraview-pack/src/bundle.rs
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/lib.rs
  crates/auroraview-pack/src/manifest.rs
  crates/auroraview-pack/src/overlay.rs
  crates/auroraview-pack/src/packer.rs
  crates/auroraview-pack/src/pyoxidizer.rs
  crates/auroraview-pack/src/python_standalone.rs
  crates/auroraview-pack/tests/generator_tests.rs
Due: none

chore(just): add pack commands for local testing and development
  Cargo.lock
  justfile
Due: none

feat(pack): add hooks.collect support for bundling examples
  Cargo.lock
  crates/auroraview-cli/src/packed.rs
  crates/auroraview-pack/Cargo.toml
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/packer.rs
  gallery/auroraview.pack.toml
  gallery/main.py
Due: none

chore(pack): use Python 3.10 as default version
  .github/workflows/pr-checks.yml
  crates/auroraview-cli/src/packed.rs
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/manifest.rs
  crates/auroraview-pack/src/packer.rs
  crates/auroraview-pack/src/pyoxidizer.rs
  crates/auroraview-pack/src/python_standalone.rs
  gallery/auroraview.pack.toml
Due: none

feat(pack): add automatic Python dependency collection
  crates/auroraview-pack/src/deps_collector.rs
  crates/auroraview-pack/src/lib.rs
  crates/auroraview-pack/src/packer.rs
  crates/auroraview-pack/src/python_standalone.rs
Due: none

perf(pack): streaming decompression and WebView2 warmup
  Cargo.lock
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-cli/src/packed.rs
  crates/auroraview-pack/Cargo.toml
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/deps_collector.rs
  crates/auroraview-pack/src/lib.rs
  crates/auroraview-pack/src/manifest.rs
  crates/auroraview-pack/src/metrics.rs
  crates/auroraview-pack/src/overlay.rs
  crates/auroraview-pack/src/packer.rs
  crates/auroraview-pack/tests/deps_collector_tests.rs
  crates/auroraview-plugins/src/process.rs
  docs/PACKING.md
  docs/README.md
  gallery/auroraview.pack.toml
  gallery/main.py
  src/utils/mod.rs
  uv.lock
Due: rust, Rust Core
