Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

test: collapse wrapped let binding onto single line
  crates/auroraview-core/src/builder/window_style.rs
Due: none

ci: increase CLI Build timeout to 30 minutes
  .github/workflows/pr-checks.yml
Due: none

chore: bump window_style.rs unsafe allowlist to 31
  scripts/unsafe_allowlist.txt
Due: none

chore: ruff format tests/test_gallery_cdp.py
  tests/test_gallery_cdp.py
Due: none

fix: install llvm-tools-preview in llvm-cov-install recipe
  justfile
Due: none

feat(dcc-mcp): expose AuroraView as a DCC-MCP WebView adapter
  docs/mcp/dcc-mcp-integration.md
  pyproject.toml
  python/auroraview/dcc_mcp/__init__.py
  python/auroraview/dcc_mcp/_compat.py
  python/auroraview/dcc_mcp/adapter.py
  python/auroraview/dcc_mcp/host.py
  python/auroraview/dcc_mcp/server.py
  skills/auroraview-webview/SKILL.md
  skills/auroraview-webview/scripts/_dispatch.py
  skills/auroraview-webview/scripts/eval_js.py
  skills/auroraview-webview/scripts/load_html.py
  skills/auroraview-webview/scripts/load_url.py
  skills/auroraview-webview/scripts/screenshot.py
  skills/auroraview-webview/tools.yaml
  tests/python/integration/test_dcc_mcp_registration.py
  tests/python/unit/test_dcc_mcp_adapter.py
Due: python

fix(ci): make the Python 3.7 gate exercise the DCC-MCP integration
  .github/workflows/pr-checks.yml
  python/auroraview/dcc_mcp/adapter.py
  tests/python/integration/test_dcc_mcp_registration.py
  tests/python/unit/test_dcc_mcp_adapter.py
Due: python

fix(tests): make the DCC-MCP integration suite importable in CI
  tests/python/integration/test_dcc_mcp_registration.py
Due: none

feat(dcc-mcp): detect the host DCC and prove adapter coexistence
  .github/workflows/pr-checks.yml
  docs/mcp/dcc-mcp-integration.md
  python/auroraview/dcc_mcp/__init__.py
  python/auroraview/dcc_mcp/adapter.py
  python/auroraview/dcc_mcp/host_detect.py
  tests/python/integration/test_dcc_mcp_coexistence.py
  tests/python/integration/test_dcc_mcp_skill_isolation.py
  tests/python/unit/test_dcc_mcp_adapter.py
Due: python

test: repair drifted dispatcher suites and bring them under testpaths
  pyproject.toml
  tests/test_thread_dispatcher.py
  tests/test_thread_safety_diagnosis.py
Due: none

fix(dcc-mcp): connect skill dispatch to the live adapter
  docs/mcp/dcc-mcp-integration.md
  pyproject.toml
  python/auroraview/dcc_mcp/__init__.py
  python/auroraview/dcc_mcp/adapter.py
  python/auroraview/dcc_mcp/adapter_registry.py
  python/auroraview/dcc_mcp/host.py
  python/auroraview/dcc_mcp/server.py
  skills/auroraview-webview/scripts/_dispatch.py
  tests/python/integration/test_dcc_mcp_coexistence.py
  tests/python/integration/test_dcc_mcp_registration.py
  tests/python/integration/test_dcc_mcp_tool_invocation.py
  tests/python/unit/test_dcc_mcp_host.py
Due: python

ci: run the DCC-MCP tool invocation suite on Python 3.7
  .github/workflows/pr-checks.yml
Due: none

fix(mcp): box the CDP WebSocket error to clear clippy::result_large_err
  crates/auroraview-mcp/src/cdp/connect.rs
  crates/auroraview-mcp/src/cdp/mod.rs
Due: none

fix: release the GIL during the blocking event loop and close windows on drop
  python/auroraview/core/ready_events.py
  src/webview/core/main.rs
  src/webview/core/mod.rs
  tests/python/unit/test_ready_events.py
Due: python, rust, Rust Core

fix: scope the event-loop pointer carrier and satisfy CI lint gates
  python/auroraview/core/ready_events.py
  scripts/unsafe_allowlist.txt
  src/webview/core/main.rs
Due: python, rust, Rust Core

fix(dcc-mcp): drop the invalid in-process dispatcher and fix registry leak
  crates/auroraview-mcp/src/cdp/mod.rs
  docs/mcp/dcc-mcp-integration.md
  python/auroraview/dcc_mcp/adapter_registry.py
  python/auroraview/dcc_mcp/server.py
  src/webview/config.rs
  tests/python/integration/test_dcc_mcp_tool_invocation.py
Due: python, rust, Rust Core

fix: release GIL during blocking event loop and close windows on drop (#464)
  python/auroraview/core/ready_events.py
  scripts/unsafe_allowlist.txt
  src/webview/core/main.rs
  src/webview/core/mod.rs
  tests/python/unit/test_ready_events.py
Due: python, rust, Rust Core

test(dcc-mcp): assert the dispatcher contract against core's own state
  python/auroraview/dcc_mcp/server.py
  tests/python/integration/test_dcc_mcp_tool_invocation.py
Due: python

feat(dcc-mcp): expose AuroraView as a DCC-MCP WebView adapter
  .github/workflows/pr-checks.yml
  crates/auroraview-mcp/src/cdp/connect.rs
  crates/auroraview-mcp/src/cdp/mod.rs
  docs/mcp/dcc-mcp-integration.md
  pyproject.toml
  python/auroraview/dcc_mcp/__init__.py
  python/auroraview/dcc_mcp/_compat.py
  python/auroraview/dcc_mcp/adapter.py
  python/auroraview/dcc_mcp/adapter_registry.py
  python/auroraview/dcc_mcp/host.py
  python/auroraview/dcc_mcp/host_detect.py
  python/auroraview/dcc_mcp/server.py
  skills/auroraview-webview/SKILL.md
  skills/auroraview-webview/scripts/_dispatch.py
  skills/auroraview-webview/scripts/eval_js.py
  skills/auroraview-webview/scripts/load_html.py
  skills/auroraview-webview/scripts/load_url.py
  skills/auroraview-webview/scripts/screenshot.py
  skills/auroraview-webview/tools.yaml
  src/webview/config.rs
  tests/python/integration/test_dcc_mcp_coexistence.py
  tests/python/integration/test_dcc_mcp_registration.py
  tests/python/integration/test_dcc_mcp_skill_isolation.py
  tests/python/integration/test_dcc_mcp_tool_invocation.py
  tests/python/unit/test_dcc_mcp_adapter.py
  tests/python/unit/test_dcc_mcp_host.py
Due: python, rust, Rust Core

fix: route cross-thread close through the module-level close channel
  python/auroraview/core/mixins/lifecycle.py
  python/auroraview/core/webview.py
  src/webview/core/main.rs
  src/webview/core/mod.rs
  tests/python/unit/test_webview_close.py
Due: python, rust, Rust Core

ci: set AURORAVIEW_READY_TIMEOUT in test jobs
  .github/workflows/pr-checks.yml
Due: none

feat(ipc): add host-agnostic parent/child bridge and --parent-hwnd embedding
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/cli/parent_window.rs
  crates/auroraview-cli/src/cli/run.rs
  crates/auroraview-cli/src/main.rs
  crates/auroraview-core/examples/parent_ipc_child.rs
  crates/auroraview-core/src/lib.rs
  crates/auroraview-core/src/parent_ipc/bridge.rs
  crates/auroraview-core/src/parent_ipc/context.rs
  crates/auroraview-core/src/parent_ipc/mod.rs
  crates/auroraview-core/src/parent_ipc/protocol.rs
  crates/auroraview-core/tests/parent_ipc_tests.rs
  docs/guide/child-windows.md
  docs/guide/cli.md
  docs/zh/guide/child-windows.md
  examples/parent_ipc/parent_host.ps1
Due: none

style: apply rustfmt after rebase onto main
  crates/auroraview-cli/src/cli/run.rs
  crates/auroraview-core/src/lib.rs
  crates/auroraview-core/src/parent_ipc/bridge.rs
  crates/auroraview-core/src/parent_ipc/context.rs
  crates/auroraview-core/src/parent_ipc/mod.rs
  crates/auroraview-core/src/parent_ipc/protocol.rs
Due: none

test: remove connect/accept race in parent_ipc tests
  crates/auroraview-core/tests/parent_ipc_tests.rs
Due: none

docs: move embedding flags out of the Python CLI table
  docs/guide/cli.md
Due: none

fix(ipc): enforce the 1 MiB frame limit
  crates/auroraview-core/src/parent_ipc/bridge.rs
  crates/auroraview-core/src/parent_ipc/protocol.rs
Due: none

fix(cli): stop the env handle from outranking an explicit flag
  crates/auroraview-cli/src/cli/parent_window.rs
Due: none

chore(cli): drop duplicated comment block left by the rebase
  crates/auroraview-cli/src/cli/run.rs
Due: none

fix: route cross-thread close through the close channel and shorten CI ready timeout (#466)
  .github/workflows/pr-checks.yml
  python/auroraview/core/mixins/lifecycle.py
  python/auroraview/core/webview.py
  src/webview/core/main.rs
  src/webview/core/mod.rs
  tests/python/unit/test_webview_close.py
Due: python, rust, Rust Core

feat(contract): add host-adapter and render-backend contracts
  Cargo.lock
  Cargo.toml
  crates/auroraview-contract/Cargo.toml
  crates/auroraview-contract/src/backend.rs
  crates/auroraview-contract/src/capability.rs
  crates/auroraview-contract/src/host.rs
  crates/auroraview-contract/src/lib.rs
  crates/auroraview-contract/src/registry.rs
  docs/design/adapter-contract.md
  justfile
  python/auroraview/adapter/__init__.py
  python/auroraview/adapter/backends.py
  python/auroraview/adapter/base.py
  python/auroraview/adapter/capability.py
  python/auroraview/adapter/hosts.py
  python/auroraview/adapter/registry.py
  tests/python/unit/test_adapter_contract.py
Due: python

test(contract): make backend-registry test independent of the compiled extension
  tests/python/unit/test_adapter_contract.py
Due: none

fix(contract): address review findings on the adapter contract
  Cargo.lock
  crates/auroraview-contract/Cargo.toml
  crates/auroraview-contract/src/backend.rs
  crates/auroraview-contract/src/capability.rs
  crates/auroraview-contract/src/host.rs
  crates/auroraview-contract/src/registry.rs
  crates/auroraview-core/Cargo.toml
  crates/auroraview-core/src/lib.rs
  crates/auroraview-core/tests/contract_reexport.rs
  docs/design/adapter-contract.md
  justfile
  python/auroraview/adapter/__init__.py
  python/auroraview/adapter/backends.py
  scripts/ci/check_contract_capability_parity.py
  tests/python/unit/test_adapter_contract.py
Due: python

ci: actually run the contract capability parity guard
  .github/workflows/pr-checks.yml
Due: none

feat: host-agnostic parent/child IPC bridge and --parent-hwnd embedding (#463)
  crates/auroraview-cli/src/cli/mod.rs
  crates/auroraview-cli/src/cli/parent_window.rs
  crates/auroraview-cli/src/cli/run.rs
  crates/auroraview-cli/src/main.rs
  crates/auroraview-core/examples/parent_ipc_child.rs
  crates/auroraview-core/src/lib.rs
  crates/auroraview-core/src/parent_ipc/bridge.rs
  crates/auroraview-core/src/parent_ipc/context.rs
  crates/auroraview-core/src/parent_ipc/mod.rs
  crates/auroraview-core/src/parent_ipc/protocol.rs
  crates/auroraview-core/tests/parent_ipc_tests.rs
  docs/guide/child-windows.md
  docs/guide/cli.md
  docs/zh/guide/child-windows.md
  examples/parent_ipc/parent_host.ps1
Due: none

feat(contract): add host-adapter and render-backend contracts
  .github/workflows/pr-checks.yml
  Cargo.lock
  Cargo.toml
  crates/auroraview-contract/Cargo.toml
  crates/auroraview-contract/src/backend.rs
  crates/auroraview-contract/src/capability.rs
  crates/auroraview-contract/src/host.rs
  crates/auroraview-contract/src/lib.rs
  crates/auroraview-contract/src/registry.rs
  crates/auroraview-core/Cargo.toml
  crates/auroraview-core/src/lib.rs
  crates/auroraview-core/tests/contract_reexport.rs
  docs/design/adapter-contract.md
  justfile
  python/auroraview/adapter/__init__.py
  python/auroraview/adapter/backends.py
  python/auroraview/adapter/base.py
  python/auroraview/adapter/capability.py
  python/auroraview/adapter/hosts.py
  python/auroraview/adapter/registry.py
  scripts/ci/check_contract_capability_parity.py
  tests/python/unit/test_adapter_contract.py
Due: python

feat(python): add diagnostics() runtime report for host and thread triage
  python/auroraview/__init__.py
  python/auroraview/diagnostics.py
  tests/python/unit/test_diagnostics.py
Due: python, Python Core

fix(python): treat optional native core and qtpy-less bindings as state, not probe errors
  python/auroraview/diagnostics.py
  tests/python/unit/test_diagnostics.py
Due: python, Python Core

fix(ci): link full llvm-tools set into vx toolchain for rust coverage
  .github/workflows/pr-checks.yml
Due: none

docs(rfc): add RFC 0019 pluggable backend and host adapter contract
  docs/rfcs/0019-pluggable-backend-and-host-adapter-contract.md
Due: none

Path conditions:
  python: any of: python/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  rust: any of: src/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Python Core: any of: python/auroraview/*.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Rust Core: any of: src/**/*.rs, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Qt Integration: any of: python/auroraview/qt_integration.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
