Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

.codecov.yml:

# Codecov Configuration for AuroraView
# https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2  # 2 decimal places
  round: down
  range: 70..100  # Green at 70%+, red below

  status:
    # Overall project coverage
    project:
      default:
        target: 70%  # Target coverage for the entire project
        threshold: 2%  # Allow 2% drop before failing
        if_ci_failed: error  # Fail if CI failed
        informational: false  # Block PR if coverage drops

    # Patch coverage (new code in PR)
    # Note: Some code in native.rs requires GUI environment and cannot be tested in CI
    patch:
      default:
        target: 70%  # Lowered due to untestable GUI code in native backend
        threshold: 10%  # More lenient for patches with GUI code
        if_ci_failed: error
        informational: true  # Don't block PR for patch coverage

    # Changes coverage (lines changed in PR)
    changes:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
        informational: true  # Don't block PR, just inform

# Comment configuration
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false  # Comment even without base
  require_head: true  # Require head commit

# Flag configuration for different test types
flags:
  # Python coverage
  python:
    paths:
      - python/
    carryforward: true  # Carry forward if missing

  # Rust coverage
  rust:
    paths:
      - src/
    carryforward: true

  # Unit tests
  unit:
    carryforward: true

  # Qt tests
  qt:
    carryforward: true

  # Windows-specific
  windows:
    carryforward: true

# Component configuration
component_management:
  individual_components:
    # Python components
    - component_id: python_core
      name: Python Core
      paths:
        - python/auroraview/*.py
      flag_regexes:
        - python

    # Rust components
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/**/*.rs
      flag_regexes:
        - rust

    # Qt integration
    - component_id: qt_integration
      name: Qt Integration
      paths:
        - python/auroraview/qt_integration.py
      flag_regexes:
        - qt

# Ignore paths (for project coverage calculation only, not patch coverage)
ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "*.md"
  - "*.toml"
  - "*.yml"
  - "*.yaml"
  - ".github/"
  - "scripts/"
  - "python/auroraview/_version.py"  # Auto-generated

# GitHub checks
github_checks:
  annotations: true  # Add annotations to PR

# Codecov AI (if enabled)
codecov_ai:
  enabled: true

fix: downgrade simd-json to 0.13 for Rust 1.80 compatibility
  Cargo.lock
  crates/auroraview-core/Cargo.toml
Due: none

fix: remove unused import and add ruff select options to pre-commit
  .githooks/pre-commit
  tests/python/integration/test_timer_integration.py
Due: none

fix: Python 3.7/3.8 type annotation compatibility and timer test stability
  python/auroraview/integration/qt/qt_config_factory.py
  python/auroraview/testing/qt.py
  python/auroraview/utils/event_timer.py
  scripts/debug_hwnd_mode.py
  tests/python/integration/test_timer_integration.py
Due: python

fix: ensure all type annotations are Python 3.7+ compatible
  python/auroraview/core/mixins/events.py
  python/auroraview/core/signals.py
  python/auroraview/core/webview.py
  python/auroraview/integration/qt/diagnostics.py
Due: python

fix: skip WebView browser tests in CI on all platforms
  .github/actions/build-and-test/action.yml
  python/auroraview/__init__.py
  tests/python/integration/test_auroratest_browser.py
Due: python, Python Core

fix: Qt placeholder tests to work in CI environments
  python/auroraview/integration/__init__.py
  tests/python/integration/test_qt_import_error.py
  tests/python/unit/test_package_init.py
Due: python

fix: improve test compatibility for cross-platform and CI environments
  tests/python/integration/test_timer_integration.py
  tests/python/integration/test_webview.py
  tests/python/unit/test_imports.py
Due: none

fix(ci): add python-bindings feature for Qt tests build
  .github/workflows/pr-checks.yml
  Cargo.lock
  Cargo.toml
  README.md
  crates/auroraview-core/src/assets/html/loading.html
  examples/dynamic_binding.py
  python/auroraview/core/webview.py
  src/bindings/standalone_runner.rs
  src/webview/config.rs
  src/webview/core/main.rs
  src/webview/standalone.rs
  src/webview/webview_inner.rs
  tests/python/integration/test_qt_backend.py
  tests/python/integration/test_qt_lifecycle.py
  tests/python/integration/test_webview.py
  uv.lock
Due: python, rust, Rust Core

\fix: downgrade image crate to 0.24 for Rust 1.77+ compatibility
  Cargo.lock
  crates/auroraview-core/Cargo.toml
  crates/auroraview-core/src/icon/compress.rs
  crates/auroraview-core/src/icon/converter.rs
  crates/auroraview-core/src/icon/loader.rs
  crates/auroraview-plugins/Cargo.toml
  tests/python/unit/test_qt_signals.py
Due: none

fix: resolve abi3-py38 conflict with Python 3.7 and CI test issues
  .github/actions/build-wheel/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  Cargo.toml
  crates/auroraview-core/src/assets.rs
  crates/auroraview-core/src/assets/html/error.html
  justfile
  pyproject.toml
  src/ipc/handler.rs
  src/webview/protocol_handlers.rs
  tests/python/integration/test_event_timer.py
  tests/python/integration/test_qt_backend.py
  tests/python/integration/test_qt_lifecycle.py
  tests/rust/standalone_integration_tests.rs
Due: rust, Rust Core

fix: add missing serde_json::Value import in tests
  src/ipc/backend.rs
  src/ipc/js_callback.rs
Due: rust, Rust Core

build(deps): update rfd to 0.16 and flume to 0.12
  Cargo.lock
  Cargo.toml
Due: none

test: skip WebView/Qt tests in CI environment
  tests/python/integration/test_api_injection_timing.py
  tests/python/integration/test_auto_process_events.py
  tests/python/integration/test_context_menu.py
  tests/python/integration/test_context_menu_standalone.py
  tests/python/integration/test_emit_fix.py
  tests/python/integration/test_qt_backend.py
  tests/python/integration/test_qt_event_processor.py
  tests/python/integration/test_qt_lifecycle.py
Due: none

fix: disable sccache for Python 3.7 builds to avoid GLIBC incompatibility
  .github/actions/build-wheel/action.yml
  .github/workflows/build-wheels.yml
Due: none

fix: only download wheel artifacts for PyPI publish, exclude CLI binaries
  .github/workflows/release.yml
Due: none

feat: add Python 3.7 support with separate non-abi3 builds
  .github/actions/build-wheel/action.yml
  .github/workflows/build-wheels.yml
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

fix: remove unused sys import and add auto_show unit tests
  python/auroraview/testing/qt.py
  tests/python/integration/test_webview.py
Due: python

fix: always show window when show() is called explicitly
  src/webview/backend/native.rs
Due: rust, Rust Core

ci: add pre-build job for faster CI builds
  .github/workflows/pr-checks.yml
Due: none

ci: leverage ABI3 compatibility for faster multi-Python testing
  .github/workflows/pr-checks.yml
Due: none

ci: enable artifact reuse between PR checks and release
  .github/workflows/build-wheels.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
Due: none

fix: use typing_extensions.Literal for Python 3.7 compatibility
  python/auroraview/core/event_emitter.py
  python/auroraview/core/factory.py
Due: python

fix: downgrade image to 0.24 and add Qt test dependencies
  .github/workflows/pr-checks.yml
  Cargo.lock
  crates/auroraview-cli/Cargo.toml
Due: none

fix: add Qt system dependencies for Linux CI
  .github/workflows/pr-checks.yml
Due: none

fix: pin dlopen2 to 0.8.1 to avoid edition2024 requirement
  Cargo.lock
Due: none

fix: downgrade tao to 0.33 to avoid dlopen2 edition2024 requirement
  Cargo.lock
  Cargo.toml
  crates/auroraview-cli/Cargo.toml
Due: none

chore: upgrade tao to 0.34 and image to 0.25 for Rust 1.85+ compatibility
  Cargo.lock
  Cargo.toml
  crates/auroraview-cli/Cargo.toml
  tests/python/unit/integration/qt/test_platform_win.py
  tests/python/unit/test_imports.py
Due: none

chore: upgrade dependencies to latest versions (pyo3 0.27.2, wry 0.53.5, tao 0.34.5, tokio 1.48)
  Cargo.toml
  crates/auroraview-cli/Cargo.toml
  tests/python/unit/integration/qt/test_platform_win.py
Due: none

chore: lower coverage threshold to 35% for GUI-dependent code
  pyproject.toml
Due: none

chore: update rust-version to 1.85 for edition2024 support
  Cargo.toml
Due: none

ci: update all workflows to use Rust 1.85.0 for edition2024 support
  .github/actions/build-wheel/action.yml
  .github/actions/setup-auroraview/action.yml
  .github/workflows/build-cli.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security-audit.yml
  src/webview/core/main.rs
Due: rust, Rust Core

ci: upgrade to Rust 1.90.0 (current stable) for home 0.5.12+ compatibility
  .github/actions/build-wheel/action.yml
  .github/actions/setup-auroraview/action.yml
  .github/workflows/build-cli.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security-audit.yml
  Cargo.lock
  Cargo.toml
Due: none

ci: add rust-toolchain parameter to maturin-action for Rust 1.90.0
  .github/actions/build-wheel/action.yml
  .github/workflows/pr-checks.yml
Due: none

ci: update cache key for python37-test to avoid stale cache
  .github/workflows/pr-checks.yml
Due: none

ci: remove duplicate Rust setup, let maturin-action handle rust-toolchain 1.90.0
  .github/workflows/pr-checks.yml
Due: none
