Repository loonghao/auroraview: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, Python Core, Rust Core, Qt Integration

docs(examples): translate packed_cli_demo strings to English
  examples/packed_cli_demo.py
Due: none

feat(examples): add packed headless CLI demo (RFC 0018)
  examples/__init__.py
  examples/pack/python/packed-cli-demo.pack.toml
  examples/pack/python/web/index.html
  examples/packed_cli_demo.py
Due: none

refactor(examples): simplify maya echo demo typing and event wiring
  examples/maya_qt_echo_demo.py
Due: none

test: cover packed CLI dump, invoke, and registration guards
  crates/auroraview-pack/src/cli_dump.rs
  crates/auroraview-pack/tests/overlay_tests.rs
  tests/python/unit/test_commands.py
  tests/python/unit/test_lifecycle_dispatch.py
  tests/python/unit/test_packed.py
Due: none

fix(cli): use real exe name in packed CLI help/error text
  crates/auroraview-cli/src/packed/cli.rs
  crates/auroraview-cli/src/packed/render.rs
  crates/auroraview-cli/src/packed/run.rs
Due: none

fix(cli): gate headless command lookup on CLI exposure
  python/auroraview/core/cli_invoke.py
  tests/python/unit/test_cli_invoke.py
Due: python

test(integration): realign integration tests with current source APIs
  tests/python/integration/test_browser_integration.py
  tests/python/integration/test_cli_main.py
  tests/python/integration/test_event_timer.py
  tests/python/integration/test_ipc_channel_e2e.py
  tests/python/integration/test_multi_window_integration.py
  tests/python/integration/test_qt_event_processor.py
  tests/python/integration/test_qt_zombie_fix.py
  tests/python/integration/test_timer_integration.py
Due: none

fix: suppress __command_registered__ emit in headless CLI mode
  python/auroraview/core/commands.py
  tests/python/unit/test_commands.py
Due: python

feat(cli): add packed headless CLI mode foundations (RFC 0018 steps 1-4)
  crates/auroraview-cli/Cargo.toml
  crates/auroraview-cli/src/main.rs
  crates/auroraview-cli/src/packed/cli.rs
  crates/auroraview-cli/src/packed/console.rs
  crates/auroraview-cli/src/packed/mod.rs
  python/auroraview/core/commands.py
  python/auroraview/core/mixins/commands.py
  python/auroraview/core/mixins/lifecycle.py
  python/auroraview/core/packed.py
  tests/python/unit/test_commands.py
  tests/python/unit/test_packed.py
Due: python

feat: write CLI .cmd shim for GUI-subsystem packed exe
  crates/auroraview-pack/src/builder/win.rs
Due: none

feat(cli): complete packed headless CLI mode (RFC 0018 steps 5-8)
  crates/auroraview-cli/src/cli/inspect.rs
  crates/auroraview-cli/src/packed/cli.rs
  crates/auroraview-cli/src/packed/mod.rs
  crates/auroraview-cli/src/packed/render.rs
  crates/auroraview-cli/src/packed/run.rs
  crates/auroraview-pack/src/builder/win.rs
  crates/auroraview-pack/src/cli_dump.rs
  crates/auroraview-pack/src/config.rs
  crates/auroraview-pack/src/lib.rs
  crates/auroraview-pack/tests/overlay_tests.rs
  docs/guide/packing.md
  docs/zh/guide/packing.md
  python/auroraview/core/cli_invoke.py
  python/auroraview/core/mixins/lifecycle.py
  python/auroraview/core/packed.py
  tests/python/unit/test_cli_invoke.py
Due: python

docs: document packed headless CLI mode and Windows .cmd shim
  README.md
  README_zh.md
  docs/guide/cli.md
  docs/guide/packing.md
  docs/zh/guide/cli.md
  docs/zh/guide/packing.md
Due: none

test: cover packed CLI inspect, classify branches, and run helpers
  crates/auroraview-cli/src/cli/inspect.rs
  crates/auroraview-cli/src/packed/cli.rs
  crates/auroraview-cli/src/packed/run.rs
Due: none

docs: add RFC 0018 packed exe headless CLI mode
  docs/rfcs/0018-packed-cli-mode.md
Due: none

chore: apply rustfmt to CLI inspect, run, and cli_dump
  crates/auroraview-cli/src/cli/inspect.rs
  crates/auroraview-cli/src/packed/run.rs
  crates/auroraview-pack/src/cli_dump.rs
  crates/auroraview-pack/tests/overlay_tests.rs
Due: none

chore: allowlist packed CLI console unsafe FFI
  scripts/unsafe_allowlist.txt
Due: none

chore: satisfy ruff lint and format on CLI invoke modules
  python/auroraview/core/cli_invoke.py
  python/auroraview/core/commands.py
  tests/python/unit/test_commands.py
  tests/python/unit/test_packed.py
Due: python

fix: resolve Windows E2E test failures from asyncio loop conflict
  tests/test_gallery_cdp.py
Due: none

fix: improve asyncio loop state management in E2E tests
  tests/test_gallery_cdp.py
Due: none

fix: make event loop management idempotent and add cleanup path
  tests/test_gallery_cdp.py
Due: none

fix: use NULL brush for transparent WebView2 windows
  crates/auroraview-core/src/builder/window_style.rs
  crates/auroraview-core/tests/window_style_tests.rs
  python/auroraview/integration/qt/embedding.py
  src/webview/backend/native.rs
  src/webview/desktop/mod.rs
  src/window_utils.rs
Due: python, rust, Rust Core

test: collapse wrapped let binding onto single line
  crates/auroraview-core/src/builder/window_style.rs
Due: none

chore: bump window_style.rs unsafe allowlist to 31
  scripts/unsafe_allowlist.txt
Due: none

fix: bind loop variable in Maya demo event handler
  examples/maya_qt_echo_demo.py
  tests/test_gallery_cdp.py
Due: none

ci: increase CLI Build timeout to 30 minutes
  .github/workflows/pr-checks.yml
Due: none

fix: export set_window_class_null_background to fix clippy error
  Cargo.lock
  commit_msg.txt
  crates/auroraview-core/src/builder/mod.rs
  crates/auroraview-core/src/builder/window_style.rs
Due: none

chore: rustfmt window_style import block in builder/mod.rs
  crates/auroraview-core/src/builder/mod.rs
Due: none

fix: install llvm-tools-preview in llvm-cov-install recipe
  justfile
Due: none

Path conditions:
  python: any of: python/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  rust: any of: src/, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Python Core: any of: python/auroraview/*.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Rust Core: any of: src/**/*.rs, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
  Qt Integration: any of: python/auroraview/qt_integration.py, but not: tests/, examples/, docs/, *.md, *.toml, *.yml, *.yaml, .github/, scripts/, python/auroraview/_version.py
